{{ define "headcss" }}
  {{$.Scratch.Set "nav_active" "blog"}}
  {{$.Scratch.Set "data_i18_link" "/blog" }}
  {{$.Scratch.Set "data_i18_cn" true }}
{{ end }}

{{ define "main" }}
<div class="blog">
  <div class="container">
    {{ $blogs := where (where .Site.Pages "Section" "blog-cn") ".Params.title" "!=" nil }}
    {{ partial "navs/date-tree-nav.html" (dict "title" "博客" "data" $blogs "rss" "/blog-cn/index.xml") }}

    <div class="archive">
      <div class="content markdown-body">
        <h1 class="title">{{ .Title }}</h1>
        <ul class="blog-post-meta">
          <li class="meta-item">
            {{ partial "svgs/icon-date.svg" (dict "fill" "#040000" "width" 14 "height" 16 ) }}
            {{ .Date.Format "Mon, Jan 2, 2006" }}
          </li>
          <li class="meta-item">
            {{ partial "svgs/icon-author.svg" (dict "fill" "#040000" "width" 18 "height" 18 ) }}
            {{ range .Params.author }} {{ . }}  {{ end }}
          </li>
        </ul>
        <div class="blog-text">{{ .Content }}</div>
     </div>

     {{ partial "archives/operate-links.html" (dict "global" . "isCn" "true") }}
    </div>
  </div>
</div>

{{ end }}

{{ define "footjs" }} {{ end }}
