{{ define "headtpl" }}
  {{ if and (isset .Params "category") (eq .Params.category "cases") }}
    {{$.Scratch.Set "data_i18_link" "/cases" }}
    {{$.Scratch.Set "nav_active" "cases"}}
  {{ else }}
    {{$.Scratch.Set "data_i18_link" "/blog" }}
    {{$.Scratch.Set "nav_active" "blog"}}
  {{ end }}
  {{$.Scratch.Set "data_i18_cn" true }}
{{ end }}

{{ define "main" }}
<div class="blog">
  <div class="container content-container">
    {{ if and (isset .Params "category") (eq .Params.category "cases") }}
        <div class="sidebar">
            <div class="sticky-sidebar">
              <h2 class="title"> 用户案例 </h2>
              <div class="st_tree nav-toc">
                {{ partial "navs/tree-nav.html" (dict "tree" .Site.Data.cases_cn "global" .) }}
              </div>
            </div>
          </div>
    {{ else }}
        {{ $posts := where (where (where .Site.Pages "Section" "blog-cn") ".Params.title" "!=" nil) ".Params.category" "!=" "cases" }}
        {{ partial "navs/tags-nav.html" (dict "type" "single" "title" "热门标签" "posts" $posts "rss" "/blog-cn/index.xml" "global" .) }}
    {{ end }}
    <div class="archive">
      <div class="content markdown-body">
        <h1 class="title">{{ .Title }}</h1>
        <ul class="blog-post-meta">
          <li class="meta-item">
            {{ partial "svgs/icon-date.svg" (dict "fill" "#040000" "width" 14 "height" 16 ) }}
            {{ .Date.Format "Mon, Jan 2, 2006" }}
          </li>
          <li class="meta-item">
            {{ partial "svgs/icon-author.svg" (dict "fill" "#040000" "width" 18 "height" 18 ) }}
            {{ if .Params.author }}
              {{ range .Params.author }} {{ . }}  {{ end }}
            {{ else }}
              PingCAP
            {{ end }}
          </li>
        </ul>
        <div class="blog-text">{{ .Content }}</div>
     </div>
     {{ partial "archives/post-share-cn.html" . }}
    </div>
  </div>
</div>

{{ end }}

{{ define "footjs" }} {{ end }}
