<style type="text/css">
    .center-element {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
    }

    #page-loader {
        transform: translate(-50%, -50%) scale(0.6);
        -webkit-transform: translate(-50%, -50%) scale(0.6);
    }

    #hexagon {
        width: 60px;
        height: auto;
        overflow: visible;
        background-color: transparent;
    }

    #hexagon #hexagon-base,
    #hexagon #hexagon-line-animation {
        fill: transparent;
        stroke-miterlimit: 10;
        stroke-width: 4px;
    }

    #hexagon #hexagon-base {
        stroke: #cdd5e0;
    }

    #hexagon #hexagon-line-animation {
        stroke: #3a59f0;
        stroke-linecap: round;
        animation: dash 1.5s linear;
        animation-iteration-count: infinite;
    }

    @keyframes dash {
        0% {
            stroke-dasharray: 260.22 173.48;
            stroke-dashoffset: 0;
        }
        50% {
            stroke-dasharray: 1 431.7;
        }
        100% {
            stroke-dasharray: 260.22 173.48;
            stroke-dashoffset: -867.4;
        }
    }
</style>

<div id="page-loader" class="center-element">
    <svg id="hexagon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 129.78 150.37">
        <path id="hexagon-base" d="M-1665.43,90.94V35.83a15.09,15.09,0,0,1,6.78-12.59l48.22-31.83a15.09,15.09,0,0,1,16-.38L-1547,19.13a15.09,15.09,0,0,1,7.39,13V90.94a15.09,15.09,0,0,1-7.21,12.87l-47.8,29.24a15.09,15.09,0,0,1-15.75,0l-47.8-29.24A15.09,15.09,0,0,1-1665.43,90.94Z" transform="translate(1667.43 13.09)"/>
        <path id="hexagon-line-animation" d="M-1665.43,90.94V35.83a15.09,15.09,0,0,1,6.78-12.59l48.22-31.83a15.09,15.09,0,0,1,16-.38L-1547,19.13a15.09,15.09,0,0,1,7.39,13V90.94a15.09,15.09,0,0,1-7.21,12.87l-47.8,29.24a15.09,15.09,0,0,1-15.75,0l-47.8-29.24A15.09,15.09,0,0,1-1665.43,90.94Z" transform="translate(1667.43 13.09)"/>
    </svg>
</div>
