{{- define "headTpl" -}}
    {{$.Scratch.Set "nav_active" "about"}}
    {{$.Scratch.Set "data_i18_link" "/about-cn" }}
    {{- partial "head/preload-css" (dict "href" "/css/about.css") -}}
{{- end -}}

{{- define "main" -}}
    <section class="about-company">
        <div class="container">
            <h2 class="title">ABOUT THE COMPANY</h2>
            <div class="desc f-tf" style="max-width: 36rem;">
            PingCAP started in 2015 when three seasoned infrastructure engineers were sick and tired of the way databases were managed, scaled, and maintained while working at leading Internet companies.
            Seeing no good solution on the market, they decided to build one themselves--the open-source way.
            <br />
            <br />
            With the help of a first-class team and hundreds of contributors from around the globe, PingCAP is building an open source distributed NewSQL hybrid transactional and analytical processing (HTAP) database.
            Its flagship project, TiDB, is a cloud-native distributed SQL layer with MySQL compatibility, and one of the most popular open source database projects in the world (don’t take our word for it, check it out: <a href="https://github.com/pingcap/tidb" target="_blank">https://github.com/pingcap/tidb</a>).
            TiDB’s sister project, TiKV, is a cloud-native distributed Key-Value store and also growing rapidly (<a href="https://github.com/pingcap/tikv" target="_blank">https://github.com/pingcap/tikv</a>).
            </div>
        </div>
    </section>
    <section class="about-founders">
        <div class="container">
            <h2 class="title">COMMUNITY</h2>
            <div class="desc">
                Twitter: <a href="https://twitter.com/PingCAP" target="_blank">@PingCAP</a>
                <br>GitHub: <a href="https://github.com/pingcap/tidb" target="_blank">TiDB</a>
                <br>Mailing List: <a href="https://groups.google.com/forum/#!forum/tidb-user" target="_blank">Google Group</a>
                <br>Reddit: <a href="https://www.reddit.com/r/TiDB/" target="_blank">https://www.reddit.com/r/TiDB/</a>
                <br>Stack Overflow: <a href="https://stackoverflow.com/questions/tagged/tidb" target="_blank">https://stackoverflow.com/questions/tagged/tidb</a>
            </div>
            <div class="image-wrap">
                <img src="https://download.pingcap.com/images/illustration-tidb.png" alt="">
            </div>
        </div>
    </section>
    <section class="about-culture">
        <div class="container">
            <h2 class="title">OUR MISSION AND CULTURE</h2>
            <div class="desc f-tf" style="max-width: 36rem;">
            Our mission is to build a database of the future, made by developers, for developers.
            It’s an ambitious mission, and we can’t do it without curious, self-driven, and capable people...like you!
            <br />
            <br />
            So, if you love the following:
            <br />
            <ol>
                <li>
                Open source, open collaboration, open communication;
                </li>
                <li>
                Waking up every morning motivated to solve big, hairy problems (and have fun doing it!);
                </li>
                <li>
                Working alongside a global team of self-starters, curious learners, builders, doers;
                </li>
            </ol>
            <br />
            We want to hear from you!
            </div>
            <a href="https://angel.co/pingcap-1/jobs" target="_blank" class="link">See Job Openings {{ partial "svgs/icon-right-arrow.svg" (dict "fill" "#202884" "width" 16 "height" 16 ) }}</a>
        </div>
    </section>
    <section class="about-contact about-contact-en">
        <div class="container">
            <h2 class="title">CONTACT</h2>
            <div class="info info-en">
                <div class="row">
                    <div class="item f-tf">
                    <h3>Telephone</h3>
                    <p class="text text-tel">650-542-9635</p>
                    </div>
                    <div class="item f-tf">
                    <h3>General Inquiries</h3>
                    <p class="text">info@pingcap.com</p>
                    </div>
                    <div class="item f-tf">
                    <h3>Media Inquiries</h3>
                    <p class="text">pr@pingcap.com</p>
                    </div>
                    <div class="item item-long f-tf">
                    <h3>Address</h3>
                    <p class="text">2955 Campus Drive #100, San Mateo, CA 94403</p>
                    </div>
                </div>
            </div>
            <div class="map map-shotcut"></div>
        </div>
    </section>
{{- end -}}
