{{- define "headTpl" -}}
    {{$.Scratch.Set "nav_active" "cases"}}
    {{$.Scratch.Set "data_i18_link" "/cases-cn" }}
    {{- partial "head/preload-css" (dict "href" "/css/cases.css") -}}
{{- end -}}

{{- define "main" -}}
    {{ $heading := "World's Most Innovative Businesses Trust PingCAP" }}
    <div class="cases">
        {{ partial "layout/hero.html" (dict "heading" $heading) }}
        <div class="container">
            {{- partial "cases/list.html" (dict "posts" .Site.Data.cases "global" .) -}}
        </div>
    </div>
{{- end -}}

{{ define "footJS"}}
<script type="text/javascript" src="/js/vendor/lazyload.min.js"></script>
<script type="text/javascript">
    $(".lazy").lazyload({
    effect : "fadeIn",
    threshold: 200
});
</script>
{{- end -}}
