{{- define "headTpl" -}}
    {{$.Scratch.Set "data_i18_link" "/about-cn" }}
    {{- partial "head/preload-css" (dict "href" "/css/cases.css") -}}
    <style type="text/css">
        .contact-us .contact-form {
            margin: 80px auto;
        }
    </style>
{{- end -}}

{{- define "main" -}}
    {{ $heading := "Contact PingCAP" }}
    <div class="contact-us">
        {{- partial "layout/hero.html" (dict "heading" $heading) -}}
        <div class="container" style="padding: 0 1rem; min-height: 800px;">
            <div class="contact-form" style="max-width: 500px;">
                <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/shell.js"></script>
                <script type="text/javascript">
                    hbspt.forms.create({
                    portalId: '4466002',
                    formId: '125bf70d-1eba-4cf8-bb1d-2e4a422a875d'
                })
                </script>
            </div>
        </div>
    </div>
{{- end -}}
