{{ define "headtpl" }}
  {{$.Scratch.Set "data_i18_cn" true }}
  {{$.Scratch.Set "data_i18_link" "/news" }}
{{ end }}

{{ define "main" }}
  {{ $heading := "Supporting companies from the garage to the Fortune 500" }}
  {{ $subheading := "TiDB will scale with you from your first users to your first billion." }}
  <div class="news">
    {{ partial "layout/hero.html" (dict "heading" $heading "subheading" $subheading) }}
    <div class="container">
      {{ partial "news/list.html" (dict "posts" .Site.Data.news_cn "global" .) }}
    </div>
  </div>
{{ end }}
