<div class="profile">
    <div class="profile__avatar">
    <img id="useravatar" src="/images/svgs/icon-avatar.svg" alt="avatar" />
    </div>
    <h1 class="profile__title">TiDB Academy Profile</h1>

    <form class="form" id="tidb-academy-form">
        <div class="form__item">
            <label for="username">User Name</label>
            <input type="text" name="username" value="Jason" id="username" disabled />
        </div>
        <div class="form__item">
            <label for="user-email">Email</label>
            <input type="user-email" name="user-email" id="user-email" value="jasonbr789@gmail.com" disabled />
        </div>
        <div class="form__item">
            <label for="pw">Password</label>
            <input type="password" name="pw" id="pw" value="123" disabled />
        </div>

        <!-- <button id="hhhhhh">click me to change pswd</button> -->
        <div class="form__submit">
            <button class="button" type="submit">Change Password</button>
            <p class="tip">You’ll receive a confirmation link to change your password.</p>
        </div>
    </form>
</div>

{{- define "footJS" -}}
<script type="text/javascript" src="/js/vendor/login.js"></script>
<script src="https://cdn.auth0.com/js/auth0/9.5.1/auth0.min.js"></script>
<script type="text/javascript" src="/js/vendor/auth0-variables.js"></script>
{{- end -}}
