{{- define "headTpl" -}}
    {{$.Scratch.Set "data_i18_link" "/about-cn" }}
    {{- partial "head/preload-css" (dict "href" "/css/cases.css") -}}
    <style type="text/css">
        .academy-link {
            color:#3a59f0;
        }
    </style>
{{- end -}}

{{- define "main" -}}
    {{ $heading := "TiDB Academy" }}
    <div class="contact-us">
        {{- partial "layout/hero.html" (dict "heading" $heading) -}}
        <div class="container" style="padding: 0 1rem; min-height: 700px;">
            <div class="desc">
                Thank you for your interest in TiDB Academy! Please fill out the early access form
                below, so you'll be the first to know when our first course is ready. If you have any questions, email us:
                <a class="academy-link" href="mailto:academy@pingcap.com">academy@pingcap.com</a>.
            </div>
            <div class="contact-form" style="max-width: 500px;">
                <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
                <script>
                  hbspt.forms.create({
                      portalId: "4466002",
                      formId: "7005b71d-b2a8-4b81-a6d4-3db98fe1341c"
                  });
                </script>
            </div>
        </div>
    </div>
{{- end -}}
