{{- define "headTpl" -}}
    {{$.Scratch.Set "data_i18_link" "/about-cn" }}
    {{- partial "head/preload-css" (dict "href" "/css/tidb-cloud.css") -}}
{{- end -}}

{{- define "main" -}}
    {{ $heading := "TiDB Cloud" }}
    <div class="main">
        {{- partial "layout/hero.html" (dict "heading" $heading) -}}
        <div class="container" style="padding: 0 1rem;">
            <table class="table-fill">
                <thead>
                    <tr>
                        <th></th>
                        <th><h2>Marketplace TiDB Cloud</h2></th>
                        <th><h2>PingCAP Managed TiDB Cloud</h2></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="td-label">Available Platform</td>
                        <td>Google Kubernetes Marketplace (other marketplaces coming soon)</td>
                        <td>Any public or private cloud platform</td>
                    </tr>
                    <tr>
                        <td class="td-label">Pricing Scheme</td>
                        <td>Pay per hour per container</td>
                        <td>Pay per user: based on a combination of computing resources and storage capacity</td>
                    </tr>
                    <tr>
                        <td class="td-label">Elastic Horizontal Scaling</td>
                        <td>{{- partial "svgs/icon-check-mark.svg" -}}</td>
                        <td>{{- partial "svgs/icon-check-mark.svg" -}}</td>
                    </tr>
                    <tr>
                        <td class="td-label">Rolling Upgrades, Updates and Patching (no downtime)</td>
                        <td><span class="icon-minus-mark"></span></td>
                        <td>{{- partial "svgs/icon-check-mark.svg" -}}</td>
                    </tr>
                    <tr>
                        <td class="td-label">Managed Backup & Restore</td>
                        <td><span class="icon-minus-mark"></span></td>
                        <td>{{- partial "svgs/icon-check-mark.svg" -}}</td>
                    </tr>
                    <tr>
                        <td class="td-label">Cluster and Cost Management Dashboard</td>
                        <td><span class="icon-minus-mark"></span></td>
                        <td>{{- partial "svgs/icon-check-mark.svg" -}}</td>
                    </tr>
                    <tr>
                        <td class="td-label">Data Migration Support</td>
                        <td>{{- partial "svgs/icon-check-mark.svg" -}}</td>
                        <td>{{- partial "svgs/icon-check-mark.svg" -}}</td>
                    </tr>
                    <tr>
                        <td class="td-label">Uptime SLA</td>
                        <td>{{- partial "svgs/icon-check-mark.svg" -}}</td>
                        <td>99.99</td>
                    </tr>
                    <tr>
                        <td class="td-label">PingCAP Expert Support SLA</td>
                        <td>2 business day response time; email only</td>
                        <td>24 hours response time; email + instant message + phone <br> (Support package with shorter response time available for additional cost)</td>
                    </tr>
                </tbody>
            </table>

            <div class="actions">
                <button class="actions__button">Sign Up</button>
                <button class="actions__button">Sing Up</button>
            </div>
        </div>
    </div>
{{- end -}}
