{{- define "headTpl" -}}
    {{$.Scratch.Set "data_i18_link" "/about-cn" }}
    {{- partial "head/preload-css" (dict "href" "/css/cases.css") -}}
{{- end -}}

{{- define "main" -}}
    {{ $heading := "TiDB Cloud" }}
    <div class="contact-us">
        {{- partial "layout/hero.html" (dict "heading" $heading) -}}
        <div class="container" style="padding: 0 1rem; min-height: 700px;">
            <div class="desc">
                To get early access to PingCAP's TiDB cloud offering, please fill out the form below. You will be notified when the
                product is ready for you!
            </div>
            <div class="contact-form" style="max-width: 500px;">
            <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
            <script>
              hbspt.forms.create({
                  portalId: "4466002",
                  formId: "e6a1d648-4334-47e5-b905-6319b9402b08"
                });
            </script>
            </div>
        </div>
    </div>
{{- end -}}
