[submodule "content/docs-cn"]
	path = content/docs-cn
	url = git@github.com:pingcap/docs-cn.git
	branch = website-preview
[submodule "content/docs"]
	path = content/docs
	url = git@github.com:pingcap/docs.git
	branch = website-preview
[submodule "content/blog-cn"]
	path = content/blog-cn
	url = git@github.com:pingcap/blog-cn.git
    branch = website-preview
[submodule "content/meetup"]
	path = content/meetup
	url = git@github.com:pingcap/meetup.git
	branch = website-preview
[submodule "content/blog"]
	path = content/blog
	url = git@github.com:pingcap/blog.git
	branch = website-preview
[submodule "content/weekly"]
	path = content/weekly
	url = git@github.com:pingcap/weekly.git
	branch = website-preview
