[submodule "content/docs-cn"]
	path = content/docs-cn
	url = git@github.com:pingcap/docs-cn.git
[submodule "content/docs"]
	path = content/docs
	url = git@github.com:pingcap/docs.git
[submodule "content/blog-cn"]
	path = content/blog-cn
	url = git@github.com:pingcap/blog-cn.git
[submodule "content/meetup"]
	path = content/meetup
	url = https://github.com/pingcap/meetup
