<div class="modal__content">
    <div class="modal__header">
        <div class="modal__header__inner clearfix">
            <div class="github-logo f-fl f-tc">
                <img src="/images/svgs/github-logo.svg" style="height: 28px; margin-top: 8.5px;">
            </div>
            <div class="header-text">Thanks for your contribution to TiDB!</div>
        </div>
    </div>
    <div class="list">
        <div class="list__legend">
            Less
            <div class="contribution-degree" data-degree="4"><span class="dot dot-1"></span><span class="dot dot-2"></span><span class="dot dot-3"></span><span class="dot dot-4"></span></div>
            More
        </div>
        <div class="list__content" id="contributors"></div>
    </div>
</div>

