<div class="modal__content">
    <div class="rocket f-tc">
        {{- partial "svgs/illustration-rocket.svg" -}}
    </div>
    <div class="login clearfix">
        <form class="form" action="">
            <div class="input-container">
                <input type="text" name="name" class="form__input f-tc" id="username" autocomplete="off" placeholder="Your GitHub ID" />
            </div>
            <button class="form__button f-tc" type="submit" id="login">Landing on the planet now</button>
        </form>
        <a class="link j-later f-fr f-tr">Later</a>
    </div>
</div>


