<div class="modal-content">
    <div class="rocket">
        {{- partial "svgs/illustration-rocket.svg" -}}
    </div>
    <div class="login">
        <form class="form" action="">
            <div class="input-container">
                <input type="text" name="name" class="input" id="username" autocomplete="off" placeholder="Your Github ID" />
            </div>
            <button class="button" type="submit" id="login">landing on planet now</button>
        </form>
        <a class="link">Later</a>
    </div>
</div>


