 <div class="space" data-html2canvas-ignore="true">
    <div class="element-ellipse animation-twinkle_two"></div>
    <div class="element-planet"></div>
    <div class="element-satellite animation-satellite_move"></div>
    <div class="element-rocks animation-rocks_move"></div>
    <div class="element-star animation-twinkle_one"></div>
    <div class="element-star large animation-twinkle_three"></div>
    <div class="element-star small animation-twinkle_two"></div>
    <div class="element-star extra-small animation-twinkle_one"></div>
    <div class="element-star small position2 animation-twinkle_one"></div>
    <div class="element-cloud large"></div>
    <div class="element-cloud"></div>
    <div class="element-cloud small"></div>
    <div id="meteors"></div>
</div>
