{{ define "title" }}Weekly{{ end }}

{{ define "headcss" }}
  {{$.Scratch.Set "nav_active" "weekly"}}
{{ end }}

{{ define "main" }}
<div class="weekly">
    <div class="container">
      {{ $archives := where ( where .Site.Pages "Section" "weekly" ) ".Params.title" "!=" nil }}
      {{ partial "navs/date-tree-nav.html" (dict "data" $archives "title" "Weekly" "rss" "/weekly/index.xml") }}

        <div class="archive">
            {{ range first 1 .Data.Pages.ByDate.Reverse }}
              <div class="content">
                {{.Content}}
              </div>
            {{ end }}
        </div>
    </div>
</div>

{{ end }}
