{{ define "headtpl" }}
  {{$.Scratch.Set "nav_active" "weekly"}}
  {{$.Scratch.Set "data_i18_link" "/weekly" }}
{{ end }}

{{ define "main" }}
<div class="weekly">
  {{ partial "loading/2-column-layout.html" }}
  <div class="container content-container" style="display: none;">
    {{ $blogs := where (where .Site.Pages "Section" "weekly") ".Params.title" "!=" nil }}
    {{ partial "navs/date-tree-nav.html" (dict "title" "Weekly" "data" $blogs "rss" "/weekly/index.xml") }}

    <div class="archive">
      <div class="content markdown-body">
        <ul class="blog-post-meta">
          <li class="meta-item">
            {{ partial "svgs/icon-date.svg" (dict "fill" "#040000" "width" 14 "height" 16 ) }}
            {{ .Date.Format "Mon, Jan 2, 2006" }}
          </li>
          <!-- <li class="meta-item">
            {{ partial "svgs/icon-author.svg" (dict "fill" "#040000" "width" 18 "height" 18 ) }}
            {{ range .Params.author }} {{ . }}  {{ end }}
          </li> -->
        </ul>
        <div class="blog-text">{{ .Content }}</div>
      </div>
    </div>
  </div>
</div>
{{ end }}
