<link rel="icon" href="/images/favicon.ico" type="image/x-icon">
<link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
<link rel="apple-touch-icon" href="/images/apple-touch-icon.png">
<link rel="canonical" href="https://www.pingcap.com/">
<link rel="alternate" type="application/rss+xml" title="RSS" href="/blog/index.xml" />
<meta name="description" content="PingCAP is focused on developing distributed NewSQL and is the team building TiDB, an open-source distributed NewSQL database.">
<meta name="robots" content="noodp">
<meta name="keywords" content="SQL, HTAP, Open Source, Cloud-Native, NewSQL">
<meta property="og:locale" content="en_US">
<meta property="og:type" content="website">
<meta property="og:title" content="PingCAP">
<meta property="og:description" content="PingCAP is focused on developing distributed NewSQL and is the team building TiDB, an open-source distributed NewSQL database.">
<meta property="og:url" content="https://www.pingcap.com/">
<meta property="og:site_name" content="PingCAP">
<meta property="og:image" content="/images/pingcap-opengraph.jpg">
<meta property="og:image:secure_url" content="/images/pingcap-opengraph.jpg">
<meta name="twitter:card" content="summary">
<meta name="twitter:description" content="PingCAP is focused on developing distributed NewSQL and is the team building TiDB, an open-source distributed NewSQL database.">
<meta name="twitter:title" content="PingCAP">
<meta name="twitter:site" content="@pingcap">
<meta name="twitter:image:src" content="/images/pingcap-opengraph.jpg">
<meta name="twitter:creator" content="@pingcap">

<script type="application/ld+json">
{
  "@context": "http:\/\/schema.org",
  "@type": "WebSite",
  "url": "https:\/\/www.pingcap.com\/",
  "name": "PingCAP",
  "potentialAction": {
    "@type": "SearchAction",
    "target": "https:\/\/www.pingcap.com\/?s={search_term_string}",
    "query-input": "required name=search_term_string"
  }
}
</script>
