<div class="list cases-list">
  {{ range .posts }}
    <div class="loading-item">
      {{ partial "loading/fb-item-loading.html" }}
    </div>
    <div class="list-item" style="display: none;">
      <div class="list-item__left">
        <img class="list-item__logo" src="{{ .logo }}" alt="{{ .name }} logo">
      </div>
      <div class="list-item__right">
        <div class="list-item__desc">{{ .description }}</div>
        <a href="{{ .link }}" class="arrow-link" target="_blank">read more<span class="arrow">→</span></a>
      </div>
    </div>
  {{ end }}
</div>
