<div class="cards">
    {{- range sort .posts.ByWeight -}}
        {{- if in .Params.tags $.global.name -}}
            <div class="card flap-card">
                <div class="card__thumbnail lazy" data-original="{{.Params.logo}}" style="background-image: url('/images/svgs/loader-spinner.svg'); width: 55%; height: 120px;"></div>
                <div class="card__title">
                    <a href="#" class="toggle-info btn-toggle">
                        <span class="left"></span>
                        <span class="right"></span>
                    </a>
                    <h2> {{- .Params.title -}} </h2>
                </div>
                <div class="card__flap flap1">
                    <div class="card__description">“{{- .Params.summary -}}”</div>
                    <div class="card__flap flap2">
                        <div class="card__actions">
                            <a href="{{ .Params.url }}" class="btn-toggle" data-url="{{ .Params.url }}">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        {{- end -}}
    {{- end -}}
</div>
