<div id="list cases-list">
    {{ range .posts }}
        {{ if in .Params.tags $.global.name }}
        <div class="list-item">
            <div class="list-item__left">
              <img class="list-item__logo" style="max-width: 95%;" src="{{ .Params.logo }}" alt="{{ .Params.customer }} logo">
            </div>
            <div class="list-item__right">
              <h3 class="list-item__Params.name">{{ .Params.customer }}</h3>
              <div class="list-item__desc">{{ .Params.summary }}</div>
              <a href="{{ .Params.url }}" class="arrow-link">read more<span class="arrow">→</span></a>
            </div>
        </div>
       {{ end }}
    {{ end }}
</div>

