<!-- at the end of the HEAD -->
<link rel="stylesheet" href="https://download.pingcap.com/style/docsearch.min.css" />
<!-- at the end of the BODY -->
<script type="text/javascript" src="https://download.pingcap.com/js/docsearch.min.js"></script>
<script type="text/javascript">
docsearch({
  apiKey: 'ad5e63b76a221558bdc65ab1abbec7a2',
  indexName: 'pingcap',
  inputSelector: '#search-input',
  debug: true, // Set debug to true if you want to inspect the dropdown
  transformData: function(hits) {
    // filter hits
    function isChinese(s) {
      var patrn = /\/.*-cn\//gi
      return patrn.exec(s)
    }

    // filter 404 results
    function is404(h) {
      var patrn = /404/gi
      return h && h.lvl1 && patrn.exec(h.lvl1)
    }

    var en_hits = hits.filter(function(hit) {
      return !isChinese(hit.url) && !is404(hit.hierarchy)
    })

    return en_hits
  }
})
</script>
