<style>
    /* List of search results */

    .algolia-autocomplete .ds-dropdown-menu {
        position: relative;
        width: 100%;
        box-sizing: border-box;
        border: 1px solid #d9d9d9;
        margin: 4 0 4 0;
        background: #fafafa;
        border-radius: 3px;
        font-size: 16px;
    }
    .algolia-autocomplete .ds-dropdown-menu [class^="ds-dataset-"] {
      border: none!important;
    }

    .algolia-autocomplete .algolia-docsearch-suggestion {
        padding: 0 4px!important;
    }

    .algolia-autocomplete .algolia-docsearch-suggestion--wrapper {
        padding: 4px 0 0!important;
    }

    .algolia-autocomplete .algolia-docsearch-suggestion .algolia-docsearch-suggestion--category-header {
        border-bottom: 1px solid #ddd;
        margin: 0;
        padding: 6px 8px;
        text-transform: uppercase;
        color: #3a59f0;
        font-size: 0.9em;
    }

    .algolia-docsearch-suggestion.algolia-docsearch-suggestion__secondary .algolia-docsearch-suggestion--subcategory-column {
        font-size: 0.7em;
        background: none;
    }

    @media (max-width: 600px) {
       .search-wrapper.show .algolia-autocomplete .ds-dropdown-menu {
         position: fixed !important;
           z-index: 100;
           max-width: 340px !important;
           min-width: 310px;
           width: 100%;
           top: 155px !important;
           left: 50% !important;
           right: auto !important;
           transform: translateX(-50%);
        }

        .search-wrapper.show .algolia-autocomplete .ds-dropdown-menu [class^="ds-dataset-"] {
          max-width: 100%;
          /*overflow-y: auto;*/
        }
    }

</style>

<input type="search" id="search-input" placeholder="Search...">
