<style>
    /* List of search results */
    .algolia-autocomplete .ds-dropdown-menu {
        position: relative;
        width: 100%;
        box-sizing: border-box;
        border: 1px solid #d9d9d9;
        margin: 4 0 4 0;
        background: #fafafa;
        border-radius: 3px;
        font-size: 16px;
    }
    .algolia-autocomplete .ds-dropdown-menu [class^="ds-dataset-"] {
      border: none!important;
    }

    .algolia-autocomplete .algolia-docsearch-suggestion {
        padding: 0 4px!important;
    }

    .algolia-autocomplete .algolia-docsearch-suggestion--wrapper {
        padding: 4px 0 0!important;
    }

    .algolia-autocomplete .algolia-docsearch-suggestion .algolia-docsearch-suggestion--category-header {
        border-bottom: 1px solid #ddd;
        margin: 0;
        padding: 6px 8px;
        text-transform: uppercase;
        color: #3a59f0;
        font-size: 0.9em;
    }

    .algolia-docsearch-suggestion.algolia-docsearch-suggestion__secondary .algolia-docsearch-suggestion--subcategory-column {
        font-size: 0.7em;
        background: none;
    }

    @media (max-width: 600px) {
      .global-search .algolia-autocomplete .ds-dropdown-menu {
        min-width: 372px !important;
      }

      .global-search .algolia-autocomplete.algolia-autocomplete-right .ds-dropdown-menu {
         right: -45px !important;
       }
    }

    @media (max-width: 375px) {
      .global-search .algolia-autocomplete .ds-dropdown-menu {
        min-width: 350px !important;
      }
    }

    @media (max-width: 320px) {
      .global-search .algolia-autocomplete .ds-dropdown-menu {
        min-width: 308px !important;
      }

      .global-search .algolia-autocomplete.algolia-autocomplete-right .ds-dropdown-menu {
         right: -40px !important;
       }
    }
</style>

<input type="search" id="search-input" placeholder="Search...">
