<div class="container loading-container">
  <div class="sidebar">
    <div class="sticky-sidebar">
      {{ partial "pre-loading/content-loading.html" }}
      {{ partial "pre-loading/content-loading.html" }}
      {{ partial "pre-loading/content-loading.html" }}
    </div>
  </div>

  <div class="archive">
    {{ partial "pre-loading/content-loading.html" }}
    {{ partial "pre-loading/content-loading.html" }}
    {{ partial "pre-loading/content-loading.html" }}
    {{ partial "pre-loading/content-loading.html" }}
  </div>
</div>
