{{ $data_i18_link := $.Scratch.Get "data_i18_link" }}
<footer>
    <div class="container">
        <div class="flex-list-wrap">
            <div class="flex-list">
                <h4 class="list-title"><strong>产品</strong></h4>
                <ul>
                <li><a href="/docs-cn/">TiDB</a></li>
                <li><a href="/docs-cn/tispark/tispark-user-guide/">TiSpark</a></li>
                <li><a href="/docs-cn/ROADMAP/">TiDB 路线图</a></li>
                </ul>
            </div>
            <div class="flex-list">
                <h4 class="list-title"><strong>文档</strong></h4>
                <ul>
                <li><a href="/docs-cn/QUICKSTART/">快速入门</a></li>
                <li><a href="/blog-cn/tidb-best-practice/">最佳实践</a></li>
                <li><a href="/docs-cn/FAQ/">常见问题解答</a></li>
                <li><a href="/docs-cn/tools/syncer/">TiDB 周边工具</a></li>
                <li><a href="/docs-cn/releases/rn/">版本发布说明</a></li>
                </ul>
            </div>
            <div class="flex-list">
                <h4 class="list-title"><strong>资源</strong></h4>
                <ul>
                <li><a href="/blog-cn/">博客</a></li>
                <li><a href="https://github.com/pingcap" target="_blank">GitHub</a></li>
                <li><a href="https://zhuanlan.zhihu.com/newsql" target="_blank">知乎专栏</a></li>
                <!-- <li><a href="https://www.youtube.com/watch?v=dijsN0bddck" target="_blank">技术分享</a></li> -->
                </ul>
            </div>
            <div class="flex-list">
                <h4 class="list-title"><strong>公司</strong></h4>
                <ul>
                <li><a href="/about-cn/">关于我们</a></li>
                <li><a href="/recruit-cn/">招贤纳士</a></li>
                <li><a href="/news-cn/">新闻报道</a></li>
                </ul>
            </div>
        </div>
        <div class="contact-list-wrap">
            <div class="flex-list">
                <h4 class="list-title"><strong>联系我们</strong></h4>
                <ul>
                <li><a href="https://twitter.com/PingCAP" class="twitter"  target="_blank">{{ partial "svgs/icon-twitter.svg" (dict "width" 18 "height" 18 ) }} Twitter</a></li>
                <li><a href="https://www.linkedin.com/company/pingcap/" class="linkedin" target="_blank">{{ partial "svgs/icon-linked-in.svg" (dict "width" 18 "height" 18 ) }} LinkedIn</a></li>
                <li><a href="https://www.reddit.com/r/TiDB/" class="reddit" target="_blank">{{ partial "svgs/icon-reddit.svg" (dict "width" 18 "height" 18 ) }} Reddit</a></li>
                <li><a href="https://groups.google.com/forum/#!forum/tidb-user" class="google-plus" target="_blank">{{ partial "svgs/icon-google-plus.svg" (dict "width" 18 "height" 18 ) }} Google Group</a></li>
                <li><a href="https://stackoverflow.com/questions/tagged/tidb" class="stack-overflow" target="_blank">{{ partial "svgs/icon-stack-overflow.svg" (dict "width" 18 "height" 18 ) }} Stack Overflow</a></li>
                <li id="wechat"><a class="wechat" href="javascript:void(0)">{{ partial "svgs/icon-weixin.svg" (dict "width" 18 "height" 18 ) }} 微信公众号</a> {{ partial "common/qr-code.html" . }}</li>
                </ul>
            </div>
            <div class="subscribe">{{ partial "common/mailchimp-js.html" . }}</div>
        </div>
    </div>
    <div class="container copyright-container">
        <p class="copyright">&copy; 2018 北京平凯星辰科技发展有限公司</p>
        <a href="{{ or $data_i18_link .Params.data_i18_page_link }}" class="copyright-btn-lang" id="lang">English</a>
    </div>
</footer>
