{{ $data_i18_link := $.Scratch.Get "data_i18_link" }}
<footer>
    <div class="container">
        <div class="flex-list-wrap">
            <div class="flex-list">
                <h4 class="list-title"><strong>Product</strong></h4>
                <ul>
                <li><a href="/docs/">TiDB</a></li>
                <li><a href="/docs/tispark/tispark-user-guide/">TiSpark</a></li>
                <li><a href="/docs/ROADMAP/">Roadmap</a></li>
                <li><a href="/tidb-cloud/">TiDB Cloud</a></li>
                </ul>
            </div>
            <div class="flex-list">
                <h4 class="list-title"><strong>Docs</strong></h4>
                <ul>
                <li><a href="/docs/QUICKSTART/">Quick Start</a></li>
                <li><a href="/blog/2017-07-24-tidbbestpractice/">Best Practices</a></li>
                <li><a href="/docs/FAQ/">FAQ</a></li>
                <li><a href="/docs/tools/syncer/">TiDB Utilities</a></li>
                <li><a href="/docs/releases/rn/">Release Notes</a></li>
                </ul>
            </div>
            <div class="flex-list">
                <h4 class="list-title"><strong>Resources</strong></h4>
                <ul>
                <li><a href="/blog/">Blog</a></li>
                <li><a href="/weekly/">Weekly</a></li>
                <li><a href="https://github.com/pingcap" target="_blank">GitHub</a></li>
                <li><a href="/tidb-academy/">TiDB Academy</a></li>
                <li><a href="/community/">TiDB Community</a></li>
                </ul>
            </div>
            <div class="flex-list">
                <h4 class="list-title"><strong>Company</strong></h4>
                <ul>
                <li><a href="/about/">About</a></li>
                <li><a href="https://angel.co/pingcap-1/jobs" target="_blank">Careers</a></li>
                <li><a href="/news/">News</a></li>
                <li><a href="/contact-us/">Contact Us</a></li>
                <li><a href="/privacy-policy/">Privacy Policy</a></li>
                <li><a href="/terms-of-service/">Terms of Service</a></li>
                </ul>
            </div>
        </div>
        <div class="contact-list-wrap">
            <div class="flex-list">
                <h4 class="list-title"><strong>Connect</strong></h4>
                <ul>
                <li><a href="https://twitter.com/PingCAP" class="twitter" target="_blank">{{ partial "svgs/icon-twitter.svg" (dict "width" 18 "height" 18 ) }} Twitter</a></li>
                <li><a href="https://www.linkedin.com/company/pingcap/" class="linkedin" target="_blank">{{ partial "svgs/icon-linked-in.svg" (dict "width" 18 "height" 18 ) }} LinkedIn</a></li>
                <li><a href="https://www.reddit.com/r/TiDB/" class="reddit" target="_blank">{{ partial "svgs/icon-reddit.svg" (dict "width" 18 "height" 18 ) }}Reddit</a></li>
                <li><a href="https://groups.google.com/forum/#!forum/tidb-user" class="google-plus" target="_blank">{{ partial "svgs/icon-google-plus.svg" (dict "width" 18 "height" 18 ) }}Google Group</a></li>
                <li><a href="https://stackoverflow.com/questions/tagged/tidb" class="stack-overflow" target="_blank">{{ partial "svgs/icon-stack-overflow.svg" (dict "width" 18 "height" 18 ) }}Stack Overflow</a></li>
                </ul>
            </div>
            <div class="subscribe">{{ partial "common/mailchimp-js.html" . }}</div>
        </div>
    </div>
    <div class="container copyright-container">
        <p class="copyright">&copy; 2018 PingCAP. All Rights Reserved.</p>
        <a href="{{ or $data_i18_link .Params.data_i18_page_link }}" class="copyright-btn-lang" id="lang">中文</a>
    </div>
</footer>
