{{ $nav_active := $.Scratch.Get "nav_active" }}
<header role="navigation" class="fixed-top">
    <div class="container">
        <a class="nav-brand" href="/en"><img src="/images/pingcap-logo.png" alt="PingCAP"></a>
        <div class="nav-wrapper">
            <div class="navigation">
                <ul>
                <li {{ if eq $nav_active "docs"}}class="sel"{{end}}><a href="/docs">Docs</a></li>
                <li {{ if eq $nav_active "cases"}}class="sel"{{end}}><a href="/cases">Use Cases</a></li>
                <li {{ if eq $nav_active "blog"}}class="sel"{{end}}><a href="/blog">Blog</a></li>
                <li {{ if eq $nav_active "weekly"}}class="sel"{{end}}><a href="/weekly">Weekly</a></li>
                <li {{ if eq $nav_active "about"}}class="sel"{{end}}><a href="/about">About</a></li>
                <li><a class="link-download" href="https://meetings.hubspot.com/kevin255" target="_blank">Request Demo</a></li>
                </ul>
            </div>
            <div class="global-search">
                <div class="search-wrapper">
                <span class="icon-search">{{ partial "svgs/icon-search.svg" (dict "fill" "#fff" "width" 18 "height" 18 ) }}</span>
                <input data-lang="en" type="search" id="search-input" placeholder="Search...">
                </div>
            </div>
        </div>
        <div class="nav-btn nav-slider">
            <i class="material-icons">{{ partial "svgs/icon-menu.svg" (dict "width" 16 "height" 16 ) }}</i>
        </div>
    </div>
</header>
