{{ $nav_active := $.Scratch.Get "nav_active" }}
{{ $data_i18_link := $.Scratch.Get "data_i18_link" }}
<!-- nav -->
<nav class="mobile-sidebar">
  <div class="nav-header">
    <div class="logo-wrap">
      <a class="nav-brand" href="/en"><img src="/images/pingcap-logo.png" alt="PingCAP"></a>
    </div>
  </div>
  <ul class="ul-base">
    <li {{ if eq $nav_active "cases"}}class="sel"{{end}}><a href="/cases-cn">用户案例</a></li>
    <li {{ if eq $nav_active "docs"}}class="sel"{{end}}><a href="/docs-cn">文档</a></li>
    <li {{ if eq $nav_active "blog"}}class="sel"{{end}}><a href="/blog-cn">博客</a></li>
    <!-- <li {{ if eq $nav_active "meetup"}}class="sel"{{end}}><a href="/meetup">Meetup</a></li> -->
    <li {{ if eq $nav_active "about"}}class="sel"{{end}}><a href="/about-cn">关于</a></li>
    <li><a class="link-download" href="/docs-cn/QUICKSTART/">下载</a></li>
  </ul>
  <div class="nav-footer">
    <div class="contact-list-wrap">
      <div class="flex-list">
        <h4 class="list-title"><strong>Contact</strong></h4>
        <ul class="social social-cn ul-base">
          <li><a href="https://twitter.com/PingCAP" class="twitter" target="_blank">{{ partial "svgs/icon-twitter.svg" (dict "width" 18 "height" 18 ) }}</a></li>
          <li><a href="https://www.linkedin.com/company/pingcap/" class="linkedin" target="_blank">{{ partial "svgs/icon-linked-in.svg" (dict "width" 18 "height" 18 ) }}</a></li>
          <li><a href="https://www.reddit.com/r/TiDB/" class="reddit" target="_blank">{{ partial "svgs/icon-reddit.svg" (dict "width" 18 "height" 18 ) }}</a></li>
          <li><a href="https://groups.google.com/forum/#!forum/tidb-user" class="google-plus" target="_blank">{{ partial "svgs/icon-google-plus.svg" (dict "width" 18 "height" 18 ) }}</a></li>
          <li><a href="https://stackoverflow.com/questions/tagged/tidb" class="stack-overflow" target="_blank">{{ partial "svgs/icon-stack-overflow.svg" (dict "width" 18 "height" 18 ) }}</a></li>
          <li id="wechat-mobile"><a class="wechat" href="javascript:void(0)">{{ partial "svgs/icon-weixin.svg" (dict "width" 18 "height" 18 ) }}</a>{{ partial "qr-code.html" . }}</li>
        </ul>
      </div>
      <div class="subscribe">{{ partial "mailchimp-js.html" . }}</div>
    </div>
    <div class="container">
      <a href="{{ or $data_i18_link .Params.data_i18_page_link }}" class="btn-lang" id="lang">English</a>
    </div>
  </div>
</nav>
<!-- @end nav -->
