<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <title>{{- block "title" . }} {{- or .Title "Home" -}} {{ end -}} | PingCAP</title>
    {{ partial "head/ga" . }}
    {{ partial "head/meta-seo" . }}

    <style type="text/css" media="screen">
     .st_tree {
        display: none;
      }
    </style>

    {{ block "headtpl" . }}{{ end }}

    <script type="text/javascript">
    if (location.pathname === '/') {
      if (location.hostname === 'pingcap.github.io') {
        location.href = '/en/'
      }
    }
    </script>
</head>

{{ $homepage := $.Scratch.Get "homepage" }}

<body {{ if $homepage }}class="banner-active"{{ end }}>
  {{ $data_i18_cn := $.Scratch.Get "data_i18_cn" }}

  {{ if $homepage }}
    {{ partial "layout/release-banner" . }}
  {{ end }}

  {{ if $data_i18_cn }}
    {{ partial "layout/header-cn" . }}
    {{ partial "layout/mobile-sidebar-cn" . }}
  {{ else }}
    {{ partial "layout/header" . }}
    {{ partial "layout/mobile-sidebar" . }}
  {{ end }}

  {{ block "main" . }}{{ end }}

  {{ if $data_i18_cn }}
    {{ partial "layout/footer-cn" . }}
  {{ else }}
    {{ partial "layout/footer" . }}
  {{ end }}

  <div class="overlay"></div>

  <script src="https://download.pingcap.com/js/jquery.min.js"></script>
  {{ block "footjs" . }}{{ end }}

  {{ if $data_i18_cn }}
    {{ partial "search/algolia-cn-js" . }}
  {{ else }}
    {{ partial "search/algolia-js" . }}
    {{ partial "tracking-code/hubspot.html" }}
  {{ end }}
</body>

</html>
