/* about page */
@import 'base.less';
@import 'header.less';
@import 'footer.less';

//color
@font_color: #3e3e3e;
@purple_blue: #202884;
@bg_gray_white: #fafafa;
// line
@1px_hr_width: 1.9rem;

section[class^='about-'],
section[class^='meetup-landingpage-'] {
  padding: @vertical_padding @horizontal_padding;
  text-align: center;

  .container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .title {
    display: inline-block;
    position: relative;
    margin: 0.4rem auto 2rem;
    font-size: 1.1rem;

    &:before {
      content: ' ';
      position: absolute;
      right: -2.5rem;
      top: 50%;
      transform: translateY(-50%);
      width: @1px_hr_width;
      height: 1px;
      background: black;
    }

    &:after {
      content: ' ';
      position: absolute;
      left: -2.5rem;
      top: 50%;
      transform: translateY(-50%);
      width: @1px_hr_width;
      height: 1px;
      background: black;
    }
  }

  .desc {
    max-width: 29rem;
    margin-left: auto;
    margin-right: auto;
    font-size: 0.8rem;
    line-height: 1.7;
    color: @font_color;
  }

  .link {
    display: flex;
    align-items: center;
    margin: 2rem auto 0;
    color: @purple_blue;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;

    svg {
      margin-left: 0.6rem;
    }

    &:hover {
      color: #ff2c54;

      svg {
        fill: #ff2c54;
      }
    }
  }
}

.about-intro-video {
  padding: 4em 0;
  background-color: @bg_gray_white;

  .video {
    width: 100%;
    min-height: 518px;
    position: relative;
    cursor: pointer;

    &:hover {
      background-color: fade(black, 10%);
    }
  }
}

.about-founders {
  background: @bg_gray_white;

  .image-wrap {
    max-width: 31.5rem;
    margin: 4.5rem auto 0;

    img {
      display: block;
      width: 100%;
    }
  }
}

.about-culture {
  .details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 1.5rem;

    h2 {
      font-size: 1rem;
      color: @purple_blue;
    }

    .row {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
    }

    .item {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      margin-top: 3rem;

      h2 {
        height: 2.2rem;
        margin-top: 1.25rem;
        margin-bottom: 0;
      }

      p {
        max-width: 10.5rem;
        margin: 2px auto;
        font-weight: 400;
      }
    }

    .item-short {
      p {
        max-width: 7.5rem;
      }
    }

    // TODO: flex and <svg>
    .image-wrap {
      height: 2.4rem;

      .icon {
        height: 48px;
        vertical-align: middle;
      }

      .icon-m {
        height: 40px;
      }

      .icon-s {
        height: 36px;
      }
    }
  }
}

.about-contact {
  background: @bg_gray_white;

  .info {
    padding: 0.5rem 0.75rem 2rem;
    font-size: 0.8rem;

    .row {
      display: flex;
    }

    .item {
      margin-top: 0.5rem;
      position: relative;
      padding: 0 3rem 0 0;
      text-align: left;

      h3 {
        margin: 0 0 6px;
        font-size: 0.8rem;
        font-weight: 600;
      }

      .text {
        color: @font_color;
      }

      &:before {
        content: ' ';
        position: absolute;
        top: 2px;
        left: -12px;
        width: 2px;
        height: 40px;
        background: #202884;
      }
    }

    .item-long {
      max-width: 380px;
      width: 100%;
      padding-right: 0;
    }
  }

  .info-en {
    .item {
      padding-right: 2.4rem;
    }

    .item-long {
      padding-right: 0;
    }
  }
}
@media (max-width: 500px) {
  .about-contact .info .row,
  .about-culture .details .row {
    flex-direction: column;
  }

  .about-culture .details .row {
    align-items: center;
  }
}
