// import global variables
@import "./variables.less";

.cards {

}

.card {

}

.card__avatar {
  height: 48px;
  width: 48px;
  display: flex;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  background: @grayWhite;


  svg {
    display: block;
    width: 24px;
    fill: @bannerBgColor;
  }
}