@import './base.less';
@import './header.less';
@import './footer.less';
@import './fb-like-loading.less';

.cases,
.news {
  min-height: calc(~'100vh - @{footer_height_pc}');
  padding-top: @header_height;

  .hero {
    background: #fafafa;
  }

  .hero__container,
  .list {
    margin: 0 auto;
    max-width: 1180px;
  }

  .list {
    width: 100%;
    padding: @vertical_padding @horizontal_padding;
  }

  .hero__inner {
    margin: 0 auto;
    padding: 60px @horizontal_padding 30px;
    text-align: center;

    h1,
    h2 {
      color: @title_color;
    }

    .hero__heading {
      margin: 0 auto 15px;
    }
    .hero__subheading {
      margin: 0 auto 30px;
      font-size: 22px;
      font-weight: 400;
      line-height: 34px;
    }
  }
}

@media (min-width: 992px) {
  .cases,
  .news {
    .hero__inner {
      padding: 80px @horizontal_padding 40px;
      .hero__heading {
        max-width: 630px;
        font-size: 48px;
        margin: 0 auto 30px;
      }
      .hero__subheading {
        max-width: 750px;
        font-size: 26px;
        line-height: 38px;
      }
    }
  }
}

@media (min-width: 768px) {
  .cases,
  .news {
    .hero__inner {
      .hero__subheading {
        max-width: 600px;
      }
    }
  }
}
