@import "./header.less";
@import "./footer.less";
@import "./hero.less";
@import "./cards.less";

.cases,
.news,
.contact-us {
  min-height: calc(~"100vh - @{footer_height_pc}");
  padding-top: @header_height;
}

.cases,
.news {
  .list {
    width: 100%;
    padding: 3rem @horizontal_padding;
  }
}

.cases {
  .banner {
    position: relative;
    height: 320px;
    background-color: @hero_bg_color;
  }

  .banner__inner {
    position: relative;
    max-width: 872px;
    height: 100%;
    margin: 0 auto;
    background: url(/images/banner-cases-cn.svg) no-repeat center;
    background-size: cover;
  }

  .banner__slogan {
    position: absolute;
    left: 0;
    bottom: 155px;
    font-weight: 600;
    color: #fff;
  }
}

.cases__intro {
  padding: @vertical_padding @horizontal_padding;
  text-align: center;

  p {
    line-height: 1.8;
    font-size: 1.12rem;
    color: @title_color;

    strong {
      color: @hero_bg_color;
    }
  }
}

#cases-tab {
  max-width: 1024px;
  margin: 0 auto;

  dt {
    position: relative;
    width: auto;
    background-color: #fff;
    padding-left: 3em;
    border: 1px solid transparent;
    cursor: pointer;
    font-size: 16px;
    color: #3d6cb9;

    &.is-active {
      border: 1px solid #ddd;
      border-top: 2px solid #264e86;
      border-bottom: 1px solid #fff;
    }

    &::before {
      position: absolute;
      content: " ";
      width: 1.4em;
      height: 1.4em;
      top: 50%;
      margin-top: -0.7em;
      left: 1em;
    }

    &.tab-0::before {
      background: url(/images/icon-internet.svg) 100% 100% no-repeat;
    }

    &.tab-1::before {
      background: url(/images/icon-video-game.svg) 100% 100% no-repeat;
    }

    &.tab-2::before {
      background: url(/images/icon-payment.svg) 100% 100% no-repeat;
    }

    &.tab-3::before {
      background: url(/images/icon-industry.svg) 100% 100% no-repeat;
    }
  }

  dd {
    min-height: 500px;
    border: 1px solid transparent;
    border-top: 1px solid #ddd;
  }
}

.contact-us {
  .contact-form {
    margin: 80px auto;
  }
}

@media (min-width: 992px) {
  .cases {
    .banner__slogan {
      font-size: @hero_title_size_l;
    }
  }
}

@media (min-width: 600px) {
  #cases-tab {
    dt {
      min-width: 100px;
    }
  }
}

@media only screen and (max-width: 767px) {
  .cases {
    .banner {
      height: 220px;
    }

    .banner__slogan {
      bottom: 140px;
    }
  }
}

@media (max-width: 500px) {
  .cases {
    .banner__slogan {
      font-size: @hero_title_size_s;
      left: 1rem;
    }
  }
}
