/* docs page */
@import './github-markdown.less';
@import './base.less';
@import './header.less';
@import './footer.less';
@import './sidebar.less';
@import './post-share.less';

// width
@page_sidebar_width: 12.5rem;

// line-height
@smarttoc_title_line_height: 20px;

// margin
@smarttoc_line_margin: 10px;

// animation_fadein_300
@animation_fadein_300: fadeIn 0.3s;

/** documentation list **/
.doc,
.blog,
.meetup,
.recruit,
.weekly {
  min-height: calc(~'100vh - @{footer_height_pc}');

  .container {
    padding: 0 @horizontal_padding;
    flex-flow: row wrap;
  }

  .archive,
  .list,
  .sidebar,
  .sidebar-page {
    .customAnimation(@animation_fadein_300);
  }

  .sidebar,
  .sidebar-page {
    min-height: calc(~'100vh - @{footer_height_pc}');
  }

  &.doc {
    .sidebar {
      flex: 0 0 @sidebar_width;
    }
  }

  .sidebar-page {
    flex: 0 0 @page_sidebar_width;
    .improve-doc,
    .pdf-link,
    .toc-title {
      color: @title_color;
      font-size: 14px;
      line-height: @smarttoc_title_line_height;

      svg {
        margin-right: 5px;
      }
    }

    .improve-doc,
    .pdf-link {
      display: flex;
      align-items: center;
      text-decoration: underline;
      margin-bottom: @smarttoc_line_margin;
    }

    .toc-title {
      margin: calc(~'@{smarttoc_line_margin} * 2') 0 @smarttoc_line_margin;
    }
  }

  .archive,
  .list {
    flex: 1;
    max-width: calc(~'100% - 24rem');
    padding: calc(~'@{header_height} + 20px') 1rem 1.5rem;

    h1,
    h2,
    h3,
    h4 {
      font-weight: 400;
      color: @title_color;
    }

    h1 {
      margin-bottom: 1.5rem;
      font-size: 24px;
    }

    h2 {
      font-size: 22px;
    }

    h3 {
      font-size: 20px;
    }

    h4 {
      font-size: 18px;
    }
  }

  .archive {
    .content {
      overflow-x: auto;
      ol,
      p,
      table,
      ul {
        margin: 0.7rem 0;
        line-height: 1.7;
        font-size: 16px;
        font-weight: 400;
        color: @text_color;
      }

      a {
        color: @theme_blue;
      }

      img {
        display: block;
        max-width: 100%;
        margin: auto;
      }

      .blog-post-meta {
        padding-left: 0;
        margin-bottom: 1rem;
        font-size: 14px;
        color: #6a737d;
        list-style: none;

        svg {
          width: 18px;
          height: 18px;
          margin-top: -3px;
          margin-right: 5px;
          fill: #37434e;
          vertical-align: middle;
        }

        .meta-item {
          display: inline-block;
          box-sizing: border-box;
          padding-right: 1rem;
        }
      }
    }

    .operate {
      margin-top: 1.5rem;
      border-top: 2px solid #000;
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      justify-content: space-between;

      .item a {
        display: flex;
        align-items: center;
        margin-top: 1rem;
        font-size: 16px;

        .icon {
          margin-right: 0.4rem;
        }
      }
    }
  }

  .markdown-body {
    h1,
    h2 {
      border-bottom: none;
    }

    h2,
    h3 {
      margin-top: 25px;
      margin-bottom: 15px;
      line-height: 1.6;
      padding: 0;
    }
  }

  .error {
    color: @theme_blue;
    line-height: 1.7;
    font-size: 16px;
  }

  #smarttoc {
    position: relative !important;
    left: initial !important;
    max-width: @page_sidebar_width !important;
    max-height: 100vh !important;
    padding: 0;
    border: none;
    border-color: transparent;
    border-left: 1px solid rgba(158, 158, 158, 0.22);
    transform: initial !important;
    z-index: auto;

    &:hover {
      max-width: @page_sidebar_width !important;
    }

    ul {
      padding: 0 0 0 1em !important;
    }

    a {
      white-space: normal !important;
      word-wrap: break-word;
    }

    ul ul a {
      padding-left: 1.2rem;
    }

    ul ul a:active,
    ul ul a:hover,
    ul ul li.active > a {
      padding-left: calc(~'1.2rem - 2px');
    }
  }

  .git-info {
    margin-top: 5rem;
    padding: 1rem 0.7rem;
    background-color: rgba(27, 31, 35, 0.05);
    font-size: 18px;
    font-weight: 500;
    line-height: 1.7;
    color: @text_color;

    a {
      padding: 0 2px;
      color: @theme_blue;
    }
  }
}

// smarttoc-extender global
#smarttoc-extender {
  display: none !important;
}

@media (min-width: 880px) {
  .blog,
  .meetup,
  .recruit,
  .weekly {
    .sidebar {
      flex: 0 0 14rem;
      max-width: 14rem;
    }

    .nav-tags {
      padding: calc(~'@{header_height} + 20px') 0 20px;
    }

    .archive,
    .list {
      max-width: calc(~'100% - 15rem');
      padding-right: 2.5rem;
    }
  }

  .blog {
    .content {
      margin-right: 1rem;
    }
  }

  .meetup,
  .recruit,
  .weekly {
    .list,
    .archive {
      padding-left: 3rem;
    }
  }
}

@media (max-width: 879px) {
  .blog,
  .doc,
  .meetup,
  .recruit,
  .weekly {
    .container {
      display: block;
    }

    .archive,
    .list {
      max-width: 100%;
      margin: 20px 0;
      padding: 25px 0 !important;
    }

    .sidebar {
      padding-top: 100px;
      max-width: 100%;
      min-height: 100%;
      overflow: auto;
    }

    .sidebar-page {
      min-height: 100%;
      padding-bottom: 20px;

      #smarttoc {
        max-width: 100% !important;
      }
    }
  }

  .blog,
  .recruit,
  .meetup {
    .archive,
    .list {
      margin-top: 60px;
    }
  }
}

.recruit {
  .archive {
    h2 {
      font-size: 19px;
    }

    h3 {
      font-size: 17px;
    }

    p {
      font-size: 15px;
    }
  }
}

@media (max-width: 320px) {
  .blog .archive .operate .item a .icon,
  .doc .archive .operate .item a .icon,
  .meetup .archive .operate .item a .icon,
  .recruit .archive .operate .item a .icon,
  .weekly .archive .operate .item a .icon {
    margin-right: 4px;
  }
}

/**
 * Print stylesheet for yourwebsite.com
* @version         1.0
* @lastmodified    16.06.2016
*/

@media print {
  @page {
    size: A4 portrait;
    margin: 3.7cm 2.6cm 3.5cm;
  }

  /* 把字体设置为16px/13pt, 把背景色设为纯白、字体纯黑，这样省墨。 */
  body {
    font: 13pt Georgia, 'Times New Roman', Times, serif;
    line-height: 1.3;
    background: #fff !important;
    color: #000;
  }

  h1 {
    font-size: 24pt;
  }

  h2,
  h3,
  h4 {
    font-size: 14pt;
    margin-top: 25px;
  }

  /* 设置所有的分页符 */
  a {
    page-break-inside: avoid;
  }
  a:after {
    content: '(' attr(href) ')';
  }
  blockquote {
    page-break-inside: avoid;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    page-break-after: avoid;
    page-break-inside: avoid;
  }
  img {
    page-break-inside: avoid;
    page-break-after: avoid;
  }
  table,
  pre {
    page-break-inside: avoid;
  }
  ul,
  ol,
  dl {
    page-break-before: avoid;
  }
  thead,
  tfoot {
    display: table-row-group;
  }

  nav,
  aside {
    display: none;
  }

  .header,
  .footer,
  .sidebar,
  .sidebar-page {
    display: none;
  }
}
