.FB-Loading-Card {
  display: block;
  width: 100%;
}

/* FB Loading - First Box */
.FB-Loading-Card > div:nth-child(1) {
  width: 100%;
  height: 90px;
}

/* FB Loading - Image Box */
.FB-Loading-Card > div > div:nth-child(1) {
  position: relative;
  left: 45px;
  background-color: #eee;
  height: 90px;
  width: 90px;
  animation-name: shine;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

/* FB Loading - First Row */
.FB-Loading-Card > div > div:nth-child(2),
/* FB Loading - Second Row */ .FB-Loading-Card > div > div:nth-child(3),
/* FB Loading - Third Row */ .FB-Loading-Card > div:nth-child(2),
/* FB Loading - Fourth Row */ .FB-Loading-Card > div:nth-child(3),
/* FB Loading - Fifth Row */ .FB-Loading-Card > div:nth-child(4) {
  position: relative;
  background-color: #eee;
  height: 10px;
  animation-name: shine;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes shine {
  from {
    transition: none;
  }
  to {
    background-color: #f6f7f8;
    transition: all 0.3s ease-out;
  }
}

/* FB Loading - First Row */
.FB-Loading-Card > div > div:nth-child(2) {
  left: 180px;
  top: -75px;
  width: 50%;
}

/* FB Loading - Second Row */
.FB-Loading-Card > div > div:nth-child(3) {
  left: 180px;
  top: -35px;
  width: 25%;
}

@media screen and (max-width: 598px) {
  /* FB Loading - Image Box */
  .FB-Loading-Card > div > div:nth-child(1) {
    left: 25px;
  }
  /* FB Loading - First Row */
  .FB-Loading-Card > div > div:nth-child(2) {
    left: 150px;
  }

  /* FB Loading - Second Row */
  .FB-Loading-Card > div > div:nth-child(3) {
    left: 150px;
  }
}

@media screen and (max-width: 320px) {
  /* FB Loading - Image Box */
  .FB-Loading-Card > div > div:nth-child(1) {
    left: 15px;
  }
  /* FB Loading - First Row */
  .FB-Loading-Card > div > div:nth-child(2) {
    left: 130px;
  }

  /* FB Loading - Second Row */
  .FB-Loading-Card > div > div:nth-child(3) {
    left: 130px;
  }
}
