/* header module */

@nav-height: 60px;

header {
    width: 100%;
    font-family: 'TitilliumWeb';
    font-size: .8rem;
    letter-spacing: 1px;
    &.fixed-top {
        position: fixed; // 置顶的效果
        top: 0;
        left: 0;
        z-index: 999;
    }
    .navbar-inverse {
        min-height: @nav-height;
        padding: 10px 15px;
        margin-bottom: 0;
        border-radius: 0;
        border:none;
        background-color: @bg_black_with_alpha85;
        .navbar-toggle {
            margin: 13px 8px 0 0;
        }
        .nav-brand {
            float: left;
            padding-top: 13px;
            text-decoration: none;
            img {
                height: 36px;
            }
        }
        .main-nav {
            float: right;
            padding: 4px 0;
            text-align: center;
            li a {
                padding: 3px;
                margin: 12px;
                color: @white;
            }
            li.sel a,
            li a:hover {
                color: @bg_white_with_alpha73;
                -webkit-transition: all .5s ease;
                -moz-transition: all .5s ease;
                -ms-transition: all .5s ease;
                -o-transition: all .5s ease;
                transition: all .5s ease;
            }
            .btn-download {
                box-sizing: border-box;
                min-width: 60px;
                height: 30px;
                line-height: 28px;
                padding: 0 12px;
                border: 1px solid @white;
                border-radius: 15px;
                margin: 10px 0 10px 12px;
                color: @white;
                &:hover {
                    background-color: @white;
                    color: @theme_blue;
                    -webkit-transition: all .5s ease;
                    -moz-transition: all .5s ease;
                    -ms-transition: all .5s ease;
                    -o-transition: all .5s ease;
                    transition: all .5s ease;
                }
            }
        }
    }
}

.en {
    header {
        .navbar-inverse {
            .navbar-toggle {
                margin-right: 24px;
            }
        }
    }
}

@media (max-width: 768px) {
    header .navbar-inverse .navbar-toggle {
        margin-right: 8px;
    }
    header .navbar-inverse .main-nav .btn-download {
        margin: 10px 0;
    }
}
