/* header module */
@import "./base.less";

// height
@nav_height: 2rem;
@search_box_height: 36px;
@nav_brand_height: 32px;
@header_height: calc(~"1rem + @{nav_height} + 3px");
@download_button_height: 2em;

// width
@search_box_width: 12rem;

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.285);
  z-index: 1001;
}

/* For Typography */
.ul-base {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-btn {
  cursor: pointer;
  display: inline-block;
  width: 20px;
  height: 30px;
  line-height: 28px;
  margin: 12px 0;
  user-select: none;

  &.nav-slider {
    float: left;
  }

  &.search {
    display: none;
  }

  i {
    vertical-align: middle;
  }
}

.nav-brand {
  display: block;
  height: @nav_brand_height;

  img {
    display: block;
    height: 100%;
  }
}

.global-search {
  display: flex;
  align-items: center;
  position: relative;
  min-width: calc(~"20px + @{horizontal_padding}");
  height: @search_box_height;
  background: transparent;
  transition: background 0.3s ease, transform 0.3s ease, width 0.3s ease;

  button {
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    padding: 0;

    &.btn-cancel {
      right: 0.5rem;
      top: calc(~"(@{search_box_height} - 15px)/2");
    }
  }

  .search-wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: @search_box_width;
    height: inherit;
    border: 1px solid fade(white, 0%);
    .rounded-corners(2px);

    background-color: fade(white, 20%);
    color: @gray_white;

    .icon-search {
      position: absolute;
      left: 0.5rem;
      top: 50%;
      margin-top: -9px;
    }
  }

  #search-input {
    position: relative;
    width: @search_box_width;
    height: 100%;
    padding: 0.3rem 0.5rem 0.3rem 2rem;
    border: none;
    outline: none;
    background-color: transparent;
    color: @gray_white;
    font-size: 0.75rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; // https://www.w3cplus.com/css3/changing-appearance-of-element-with-css3.html
  }
}

/* -----------------------------------------------------
   Nav
-------------------------------------------------------- */
nav.mobile-sidebar {
  overflow-y: auto;
  position: fixed;
  top: 0;
  left: -210px;
  width: 210px;
  height: 100%;
  color: #fff;
  background-color: @bg_black_with_alpha90;
  transition: all 0.3s ease;
  opacity: 0.9;
  z-index: 1002;

  .nav-header {
    display: block;

    .logo-wrap {
      padding: 0.6rem 0.75rem;

      .nav-brand {
        height: 30px;
      }

      .logo-icon {
        display: inline-block;
        text-decoration: none;

        img {
          display: block;
          border-radius: 50%;
        }
      }
    }

    .global-search,
    .search-wrapper,
    #search-input {
      width: 100%;

      &.global-search {
        height: 40px;
      }

      &.search-wrapper {
        border-radius: 0;
      }
    }
  }

  &.open {
    left: 0;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.275);
    opacity: 1;
  }

  .ul-base {
    margin: 10px 0;

    li {
      a:hover,
      &.sel a {
        color: fade(white, 50%);
        transition: all 0.5s ease;
      }

      a {
        display: block;
        width: 100%;
        padding: 0.3rem 0.75rem;
        font-size: 16px;
        letter-spacing: 1.5px;
      }
    }
  }

  .nav-footer {
    position: absolute;
    bottom: 0;

    .contact-list-wrap {
      .flex-list {
        padding: 0 0.75rem;
      }

      .social {
        display: flex;
        margin: 0.75rem 0;
        border-top: 1px solid rgba(0, 0, 0, 0.155);
        border-bottom: 1px solid rgba(0, 0, 0, 0.155);

        li {
          display: inline-block;
          position: relative;
          width: (100% / 5);
          height: 24px;
          margin: 0;
          padding: 0;
          text-align: center;
          line-height: 24px;
          flex-direction: row;
          border-right: 1px solid rgba(0, 0, 0, 0.175);

          &:last-child {
            border-right: 0;
          }

          a {
            display: block;
            color: #fff;
            font-size: 15px;
            padding: 2px;
            text-decoration: none;

            svg {
              fill: #fff;
            }

            &.twitter {
              &:hover svg {
                fill: #00baf0;
              }
            }

            &.linkedin {
              &:hover svg {
                fill: #0079b2;
              }
            }

            &.reddit {
              &:hover svg {
                fill: #dd0008;
              }
            }

            &.google-plus {
              &:hover svg {
                fill: #c43c2c;
              }
            }

            &.stack-overflow {
              &:hover svg {
                fill: #f48024;
              }
            }

            &.wechat {
              &:hover svg {
                fill: #1aad19;
              }
            }
          }
        }
      }

      .social-cn {
        li {
          width: (100% / 6);
        }
      }
    }

    .container {
      padding: 1.2rem 0.75rem;

      .copyright {
        padding: 0;
      }
    }

    #mc_embed_signup .response {
      padding-left: 0.75rem;
    }
  }
}

body.banner-active header.fixed-top {
  position: relative;
  transition: top 0s;
  background-color: transparent;
}

body.banner-active.banner-active--scrolled header.fixed-top {
  position: fixed;
  top: 0;
  background-color: @bg_black_with_alpha90;
}

header {
  width: 100%;
  min-height: @header_height;
  padding: 0 @horizontal_padding;
  background-color: @bg_black_with_alpha90;

  &.fixed-top {
    position: fixed;
    top: 0;
    z-index: 99;
  }

  .container {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
  }

  .nav-wrapper {
    display: flex;
    align-items: center;

    .navigation {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      margin: 0 0.6rem;
      font-size: 0.8rem;
      letter-spacing: 1px;
      color: white;

      ul {
        display: flex;
        align-items: center;
        padding-left: 0;

        li {
          display: flex;
          align-items: center;

          a {
            box-sizing: content-box;
            display: flex;
            justify-content: center;
            align-items: center;
            height: @nav_height;
            padding: 0.5rem 0.4rem;
            letter-spacing: 1.5px;
          }

          & a:hover,
          &.sel a {
            color: fade(white, 50%);
            transition: all 0.5s ease;
          }
        }
      }

      a.link-download {
        height: @download_button_height;
        min-width: 3.5em;
        padding: 0 1em;
        margin: 0 0.2rem;
        .rounded-corners(0.9rem);

        text-align: center;
        background: @theme_blue;

        svg {
          margin-left: 2px;
          margin-top: -6px;
        }

        &:hover {
          background-color: white;
          color: @theme_blue;
          transition: all 0.5s ease;

          svg,
          svg * {
            fill: fade(@theme_blue, 70%) !important;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 880px) {
  .nav-btn {
    display: none;
  }
}

@media only screen and (max-width: 879px) {
  header {
    .container {
      justify-content: space-between;
      min-height: @header_height;
    }

    .nav-brand {
      height: 28px;
    }

    .nav-wrapper .navigation {
      display: none;
    }
  }

  .nav-btn {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.175);
  }
}

@media only screen and (max-width: 375px) {
  header {
    .nav-brand {
      height: 24px;
    }
  }
}

@media only screen and (max-width: 320px) {
  header {
    .global-search {
      .search-wrapper {
        width: 10rem;
      }

      #search-input {
        width: 10rem;
      }
    }
  }
}
