/* header module */
@import './base.less';

// height
@nav_height: 2rem;
@search_box_height: 1.8rem;
@nav_brand_height: 1.8rem;
@header_height: calc(~'1rem + @{nav_height} + 3px');

// width
@search_box_width: 12rem;

.header {
  width: 100%;
  min-height: @header_height;
  background-color: @bg_black_with_alpha90;

  &.fixed-top {
    position: fixed;
    top: 0;
    z-index: 99;
  }

  .container {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0 @horizontal_padding;
  }

  .nav-brand {
    height: @nav_brand_height;

    img {
      display: block;
      height: 100%;
    }
  }

  .nav-wrapper {
    display: flex;
    align-items: center;

    .navigations {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      margin: 0 0.6rem;
      font-size: 0.8rem;
      letter-spacing: 1px;
      color: white;

      ul {
        display: flex;
        align-items: center;
        padding-left: 0;

        li {
          display: flex;
          align-items: center;

          a {
            box-sizing: content-box;
            display: flex;
            align-items: center;
            height: @nav_height;
            padding: 0.5rem 0.4rem;
          }

          & a:hover,
          &.sel a {
            color: fade(white, 50%);
            transition: all 0.5s ease;
          }
        }
      }

      .link-download {
        svg {
          margin-left: 2px;
          margin-top: -6px;
        }
        &:hover {
          svg,
          svg * {
            fill: fade(white, 70%) !important;
          }
        }
      }
    }

    .global-search {
      display: flex;
      align-items: center;
      position: relative;
      min-width: calc(~'20px + @{horizontal_padding}');
      height: @search_box_height;
      background: transparent;
      transition: background 0.3s ease, transform 0.3s ease, width 0.3s ease;

      button {
        background: none;
        border: none;
        cursor: pointer;
        position: absolute;
        padding: 0;

        &.btn-cancel {
          right: 0.4rem;
          top: calc(~'(@{search_box_height} - 15px)/2');
        }
      }

      .search-wrapper {
        position: relative;
        display: flex;
        justify-content: space-between;
        width: @search_box_width;
        height: inherit;
        border: 1px solid fade(white, 0%);
        .rounded-corners(2px);
        background-color: fade(white, 20%);
        color: @gray_white;

        .icon-search {
          position: absolute;
          left: 0.4rem;
          top: 50%;
          margin-top: -9px;
        }
      }

      #search-input {
        position: relative;
        width: @search_box_width;
        height: 100%;
        padding: 0.5rem 0.5rem 0.5rem 1.6rem;
        border: none;
        outline: none;
        background-color: transparent;
        color: @gray_white;
        font-size: 0.8rem;
      }
    }
  }
}
@media screen and (max-width: 600px) {
  .header .container {
    flex-direction: column;
    padding-top: 12px;
  }

  .header .nav-wrapper {
    flex-flow: row wrap;
    justify-content: center;

    .global-search {
      margin-bottom: 12px;
    }

    .navigations ul li {
      margin: 0;

      a {
        padding: 2px 4px;
      }
    }
  }
}
// iphone 5
@media screen and (max-width: 320px) {
}
