// import global variables
@import "./variables.less";

.hero {
  background: @bannerBgColor;
}

.hero__container {
  margin: 0 auto;
  max-width: @pcMaxWidth;
}

.hero__inner {
  margin: 0 auto;
  padding: 60px @horizontalPadding;

  h1,
  h2 {
    color: #fff;
  }
}

.hero__heading {
  max-width: 572px;
  margin: 0 auto;
  font-weight: 400;
}

.hero__subheading {
  margin: 15px auto 0;
  font-size: 22px;
  font-weight: 400;
  line-height: 34px;
}

@media (min-width: 1920px) {
  .hero__container {
    max-width: @containerMaxWidth;
  }
}

@media (min-width: 992px) {
  .hero__inner {
    padding: 80px @horizontalPadding;
  }

  .hero__heading {
    max-width: 732px;
    font-size: @heroLTitleSize;
  }

  .hero__subheading {
    max-width: 780px;
    margin: 30px auto 0;
    font-size: 26px;
    line-height: 38px;
  }
}

@media (min-width: 768px) {
  .hero__subheading {
    max-width: 600px;
  }
}

@media (max-width: 500px) {
  .hero__heading {
    font-size: @heroSTitleSize;
  }
}
