/* landingpage */
@import './base.less';
@import './header.less';
@import './footer.less';

// box
@logo_wodth: 210px;
@logo_height: 80px;
@header_height: calc(~'1.5rem + '@nav_height);
@button_height: 1.8rem;
@advantage_row_margin: 4rem;
@horizontal_padding: 0.75rem;

// color
@dark_blue: #0d0b1e;

// font
@font_weight_300: 300;
@font_weight_400: 400;
@text_size: 0.8rem;

// others
@line_height: 1.8;

.page {
  .container {
    display: flex;
  }
  /* Section 1 */
  .slogan-mask {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    padding: calc(~'4rem + '@header_height) @horizontal_padding;
    background: url('/images/slogan-mask.png') no-repeat center top;
    background-attachment: fixed;
    background-size: cover;
    animation: fadeInRight 0.5s;
    @keyframes fadeInRight {
      from {
        opacity: 0;
        transform: translate3d(100%, 0, 0);
      }
      to {
        opacity: 1;
        transform: none;
      }
    }

    .container {
      flex-direction: column;
    }

    .logo {
      width: @logo_wodth;
      height: @logo_height;
    }

    .slogan {
      margin: 1.1rem 0 2.5rem;
      font-weight: 600;
      font-size: 2.4rem;
      color: @white;
    }

    .tagline {
      margin-bottom: 1rem;
      font-size: 1.1rem;
      color: @white;
    }

    .desc {
      max-width: 70%;
      font-size: @text_size;
      line-height: @line_height;
    }

    .buttons {
      max-width: 16rem;
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;

      .btn {
        height: @button_height;
        line-height: @button_height;
        width: 7.2rem;
        padding: 0 1rem;
        .rounded-corners(18px);
        margin-top: 2.25rem;
        font-size: 0.8rem;
        text-align: center;
      }
      .btn-primary {
        background: @theme_blue;
        &:hover {
          background-color: @white;
          color: @theme_blue;
          transition: all 0.5s ease;
        }
      }
      .btn-github {
        position: relative;
        padding-left: 2.25rem;
        border: 1px solid @white;
        background: transparent;
        line-height: calc(@button_height~' - 2px');
        color: @white;

        &:hover {
          background-color: @theme_blue;
          border: 1px solid @theme_blue;
          color: @white;
          transition: all 0.5s ease;
        }
        &:after {
          position: absolute;
          content: '';
          top: 50%;
          left: 25px;
          width: 20px;
          height: 19px;
          margin-top: -10px;
          background: url('/images/icon-github.svg');
          background-size: 20px 19px;
        }
      }
    }
  }
  /* Section 2 */
  .features {
    padding: calc(~'6rem + '@header_height) @horizontal_padding;
    background: url('/images/features-mask.png') no-repeat center top;
    background-attachment: fixed;
    background-size: cover;

    h3 {
      height: 2.4rem;
      margin: 1.8rem 0 0.3rem;
      color: @white;
    }
    .container {
      flex-direction: column;
    }
    .row {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      align-items: flex-start;
      text-align: center;
    }
    .item {
      margin-top: 3rem;
      flex-basis: 33%;
      p {
        max-width: 240px;
        margin-left: auto;
        margin-right: auto;
        font-size: @text_size;
        line-height: @line_height;
      }
    }
    .row-1 .item {
      margin-top: 0;
    }
    .item-short {
      p {
        max-width: 210px;
        margin-left: auto;
        margin-right: auto;
      }
    }
    .item-long {
      p {
        max-width: 270px;
        margin-left: auto;
        margin-right: auto;
      }
    }
    .image-wrap {
      width: 3.5rem;
      height: 3.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 auto;
      border: 2px solid @white;
      border-radius: 50% 50%;
      .icon {
        width: 1.7rem;
        height: 1.7rem;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
  /* Section 3 */
  .advantages {
    padding: calc(~'6rem + '@header_height) @horizontal_padding 10rem;
    background: url('/images/advantages-mask.png') no-repeat center bottom
      @dark_blue;
    background-size: cover;

    h3 {
      font-size: 1.1rem;
      color: @white;
    }

    h4 {
      color: @theme_blue;
      font-size: 0.9rem;
      margin-bottom: 0.6rem;
      font-weight: @font_weight_400;
    }

    .container {
      flex-direction: column;
    }
    .row {
      display: flex;
      flex-flow: row;
      justify-content: space-between;
      align-items: center;
      margin-bottom: @advantage_row_margin;

      .image-wrap {
        margin: 1rem 0;
        img {
          width: 14rem;
        }
      }

      .content {
        flex-basis: 70%;
        padding: 0 0.5rem;

        .text {
          font-size: @text_size;
          line-height: @line_height;
        }
      }

      &:nth-child(2n) {
        flex-flow: row-reverse;
        .content {
          text-align: right;
        }
      }

      &:last-child {
        margin-bottom: calc(@advantage_row_margin * 2);
      }
    }
  }
}

@media (max-width: 500px) {
  .page .slogan-mask {
    padding-top: 12rem;
  }
  .page .slogan-mask .container {
    align-items: center;
    text-align: center;
  }
  .page .slogan-mask .buttons {
    max-width: 100%;
    width: 90%;
    justify-content: space-around;
  }
  .page .features .item {
    flex-basis: 100%;
  }
  .page .features .row-1 .item {
    margin-top: 3rem;
  }
  .page .slogan-mask .desc {
    max-width: 100%;
  }
  .page .advantages .row,
  .page .advantages .row:nth-child(2n) {
    justify-content: center;
    flex-wrap: wrap;
    .content {
      text-align: center;
    }
  }
  .page .advantages .row .content {
    flex-basis: 100%;
  }
}

@media (max-width: 320px) {
  .page .slogan-mask .buttons {
    flex-direction: column;
    align-items: center;
  }
}
