/* tree navigator */

@import 'base.less';

// color
@text_color: #3e3e3e;
@title_color: #142848;

//width
@nav_tags_width: 15rem;

// animation_fadein_up
@animation_fadein_up: fadeInUp 1s;

.nav-tree,
.nav-tags {
  width: @nav_tags_width;
  padding-right: @horizontal_padding;
  .customAnimation(@animation_fadein_up);

  ul li {
    list-style: none;
  }

  .title {
    display: flex;
    align-items: baseline;
    // margin: 1.8rem 0 1rem;
    margin-bottom: 1rem;
    font-size: 1.2rem;
    font-weight: 400;
    color: @title_color;
  }
  .rss {
    width: 1.1rem;
    height: 1.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 12px;
    color: @theme_blue;

    &:hover {
      border-color: @theme_blue;
      background-color: @theme_blue;
      color: @white;
      svg * {
        fill: @white;
      }
    }
  }
  .all {
    display: inline-block;
    padding: 3px 9px;
    margin-left: -2px;
    border: 1px solid #cdcdcd;
    font-size: 0.7rem;
    color: #333;
  }
  .all.sel,
  .all:hover {
    background-color: @theme_blue;
    color: #fff;
    border: 1px solid @theme_blue;
  }

  .tag-list {
    display: flex;
    flex-flow: row wrap;
    margin: 12px 0 0 -8px;
    padding: 0;

    a.tag {
      padding: 3px 9px;
      border: 1px solid #cdcdcd;
      margin: 6px;
      font-size: 0.7rem;
      color: #333;
    }
    a.sel,
    a.tag:hover {
      background-color: @theme_blue;
      color: #fff;
      border: 1px solid @theme_blue;
    }
  }

  .st_tree {
    width: 100%;
    padding-left: 0;

    ul {
      padding-left: 0.8rem;
    }
    & > ul {
      padding-left: 0;
    }

    li {
      position: relative;
      margin-top: 0.4rem;
      a {
        display: flex;
        align-items: baseline;
        padding-left: 0.3rem;
        font-size: 0.7rem;
        line-height: 1.5;
        color: black;
      }
    }

    .folder {
      .icon {
        margin-right: 0.3rem;
        width: 0.7rem;
        height: 0.7rem;
        background-image: url('/images/icon-arrow-right.svg');
        background-size: 0.7rem 0.7rem;
      }
    }

    .open > a {
      .icon {
        width: 0.7rem;
        height: 0.7rem;
        background-image: url('/images/icon-arrow-down.svg');
        background-size: 0.7rem 0.7rem;
      }
    }

    li.leaf-child {
      svg {
        flex: 0 0 auto; // flex: none; // no shrink
        margin-right: 0.3rem;
      }

      &.active {
        a {
          color: @theme_blue;
        }
        svg {
          fill: @theme_blue;
        }
      }
    }
  }
}
