/* recruit page */

// import global variables
@import "./variables.less";

// import partials
@import "./typed-terminal.less";
@import "./timeline.less";
@import "./cards.less";
@import "./chat.less";
@import "./collapses.less";

@lineWidth: 1.9rem;

.recruit {
  .archive {
    padding-left: 1em;
    padding-right: 0;
  }

  .section {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
  }

  h2.title {
    display: inline-block;
    position: relative;
    margin: 0 auto 1.6rem;
    font-size: 1.1rem;

    &::before {
      content: " ";
      position: absolute;
      right: -2.5rem;
      top: 50%;
      transform: translateY(-50%);
      width: @lineWidth;
      height: 1px;
      background: black;
    }

    &::after {
      content: " ";
      position: absolute;
      left: -2.5rem;
      top: 50%;
      transform: translateY(-50%);
      width: @lineWidth;
      height: 1px;
      background: black;
    }
  }

  .desc {
    max-width: 32rem;
    margin: 0 auto;
    font-size: 0.8rem;
    line-height: 1.7;
    text-align: center;
  }

  .timeline-wrapper {
    position: relative;
    width: 85%;
    margin: 1em auto;
  }

  // TODO: temporary
  .logo-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
    margin: 1em auto;

    img {
      display: block;
      width: auto;
      height: 48px;
      margin: 15px;
    }
  }
}

#positions-tabs,
#qa-tabs {
  margin: 0 auto;

  dt {
    position: relative;
    width: auto;
    border: 1px solid transparent;
    border-radius: 16px;
    padding: 0 12px;
    margin: 6px;
    background: @silverWhite;
    cursor: pointer;
    font-size: 15px;
    line-height: 27px;
    color: #3d6cb9;

    &.is-active {
      // border: 1px solid #ddd;
      // border-top: 2px solid #264e86;
      // border-bottom: 1px solid #fff;
      background: @bannerBgColor;
      color: white;
    }
  }

  & > dt.is-active:after {
    height: 0;
  }

  dd {
    border: 1px solid transparent;
    // border-top: 1px solid #ddd;
  }
}

#qa-tabs {
  max-width: 720px;
}

#positions-tabs {
  max-width: 980px;
}

@media (max-width: 599px) {
  .recruit .timeline-wrapper {
    width: 100%;
  }
}

@media (min-width: 600px) {
  #positions-tabs,
  #qa-tabs {
    dt {
      min-width: 10px;
      // background-color: white;
    }
  }
}

@media (min-width: 880px) {
  .recruit {
    .sidebar {
      flex: 0 0 10rem;
      max-width: 10rem;
    }

    .archive,
    .list {
      max-width: calc(~"100% - 13rem");
    }
  }
}
