// TiDB Planet Pages

@import "./tidb-planet/variables.less";
@import "./tidb-planet/ui.less";
@import "./tidb-planet/modal.less";
@import "./tidb-planet/user-info.less";

body {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
  background: radial-gradient(#172d72, #120e34) center no-repeat;
  color: #fff;
  // font-family: 'Roboto', Helvetica;
}

body,
body * {
  box-sizing: @boxSize;
  margin: 0;
  -webkit-tap-highlight-color: transparent;
}

// contributor list
.contributor-list {
  color: #555;
  font-size: 14px;
  line-height: 2;
}

//video modal
.modal-video {
  video {
    width: 100%;
  }
}

/**
 * Mobile  Only Styling
 */
@media only screen and (min-width: 769px) {
  .mobile-only {
    display: none;
  }
}
