// TiDB Planet Pages

@import "./tidb-planet/variables.less";
@import "./tidb-planet/ui.less";
@import "./tidb-planet/modal.less";
@import "./tidb-planet/user-info.less";

/**
 * Include Roboto Condensed font
 */

/* Normal */
@font-face {
	font-family: "Roboto Condensed";
	font-style: normal;
	font-weight: 400;
	src: local('Roboto Condensed Regular'), local('RobotoCondensed-Regular'), url("/fonts/RobotoCondensed/RobotoCondensed-Regular.ttf") format('truetype');
}

/* Bold */
@font-face {
	font-family: "Roboto Condensed Bold";
	font-style: normal;
	font-weight: 600;
	src: local('Roboto Condensed Bold'), local('RobotoCondensed-Bold'), url("/fonts/RobotoCondensed/RobotoCondensed-Bold.ttf") format('truetype');
}

body {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
  background: radial-gradient(#172d72, #120e34) center no-repeat;
  color: #fff;
  font-size: 16px;
  font-family: 'Roboto Condensed', Helvetica;
}

body,
body * {
  box-sizing: @boxSize;
  margin: 0;
  -webkit-tap-highlight-color: transparent;
}

.container {
  max-width: 1264px;
  padding: 2em;
}

// home page
.space,
.tidb-planet,
div[class^="element-"] {
  position: absolute;
}

.tidb-planet {
  // position: absolute;
  bottom: -110%;
  left: -25%;
  width: 150%;
  height: 150%;
  background: url('/images/tidb-planet/grey-planet.svg') no-repeat;
  background-size: contain;
  background-position: center;
}

.element-astronaut {
  // position: absolute;
  left: 50%;
  top: -15%;
  transform: translateX(-50%);
  width: 10.125em;
  height: 21.875em;
  background: url('/images/tidb-planet/astronaut.svg') no-repeat;
  background-size: contain;
  background-position: center;
}

.element-flag {
  // position: absolute;
  left: 50%;
  top: -7%;
  transform: translateX(-185%);
  width: 7.6785em;
  height: 14.6875em;
  background: url('/images/tidb-planet/flag.svg') no-repeat;
  background-size: contain;
  background-position: center;
}

.space {
  // position: relative;
  width: 100%;
  height: 100%;
}

.element-planet {
  top: 8%;
  left: 5%;
  width: 4.8em;
  height: 4.8em;
  background: url('/images/tidb-planet/red-planet.svg') no-repeat;
  background-size: contain;
  background-position: center;
}

.element-cloud {
  top: 15%;
  right: 12%;
  width: 13.6em;
  height: 3.8em;
  background: url('/images/tidb-planet/cloud.svg') no-repeat;
  background-size: contain;
  background-position: center;

  &.large {
    top: 0;
    left: 6%;
    width: 17em;
    height: 4.75em;
  }

  &.small {
    top: 12%;
    left: 48%;
    width: 8.5em;
    height: 2.375em;
  }
}

/**
 * Mobile Only Styling
 */
@media only screen and (min-width: 769px) {
  .mobile-only {
    display: none;
  }
}

/**
 * Mobile  Styling
 */
@media only screen and (max-width: 500px) {
  html,
  body {
    font-size: 14px;
    overflow: hidden;
  }

  .tidb-planet {
    bottom: -80%;
  }

  .element-astronaut {
    top: 6%;
    transform: translateX(-32%);
  }

  .element-flag {
    top: 16%;
    transform: translateX(-148%);
  }
}

// x-small screen
@media only screen and (max-width: 320px) {
  html,
  body {
    font-size: 12px;
    overflow: hidden;
  }
}