
<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <title>{{ block "title" . }}{{- .Title -}}{{ end }} | TiDB Planet</title>
    {{- partial "head/ga" . -}}
    {{- partial "head/meta-seo" . -}}
    {{- partial "head/preload-css" (dict "href" "/css/tidb-planet.css") -}}
    {{- partial "head/preload-css" (dict "href" "/css/tidb-planet/contributor-list.css") -}}
    <style>
    .text-village {
        position: absolute;
        display: none;
        width: 24em;
        left: 50%;
        top: -22em;
        margin-left: -12em;
        line-height: 1.5;
        text-align: center;
        animation-delay: 0.3s;
    }

    @media only screen and (max-width: 768px) {
        .text-village {
            top: -14em;
        }
    }
    </style>
</head>

<body>
    {{- partial "tidb-planet/nav" . -}}
    {{- partial "tidb-planet/space" . -}}
    {{- partial "tidb-planet/modal" (dict "type" "contributors") -}}

    <div class="tidb-planet">
        <div class="text text-village scale-in-center j-show">Thanks to the community, we have <strong class="j-amount"></strong> contributors now. Check these names in the capsules below!</div>
        <div class="element-dorm1 j-open-dorm j-click" data-index="0"></div>
        <div class="element-dorm2 j-open-dorm j-click" data-index="1"></div>
        <div class="element-dorm3 j-open-dorm j-click" data-index="2">
        </div>
        <div class="element-dorm4 j-open-dorm j-click" data-index="3"></div>
        <div class="element-dorm5 j-open-dorm j-click" data-index="4"></div>
    </div>
    {{- partial "tidb-planet/arrow-link" (dict "pre" "/tidb-planet/user" "next" "/tidb-planet/milestones") -}}
    <script src="https://download.pingcap.com/js/jquery.min.js"></script>
    <script src='https://cdn.jsdelivr.net/g/lodash@4(lodash.min.js+lodash.fp.min.js)'></script>
    <script src="/js/tidb_planet.js"></script>
</body>

</html>
