{{ define "title" }} 文档 {{ end }}

{{ define "headtpl" }}
  <link rel="stylesheet" href="/css/vendor/github-markdown.css" />
  {{$.Scratch.Set "nav_active" "docs"}}
  {{$.Scratch.Set "data_i18_cn" true }}
  {{$.Scratch.Set "data_i18_link" "/docs" }}
{{ end }}

{{ define "main" }}
<div class="doc" id='list_page'>
  <div class="container content-container">
    <div class="sidebar">
      <div class="sticky-sidebar">
        <h2 class="title"> 文档 </h2>
        <div class="st_tree nav-toc">
          {{ partial "navs/tree-nav.html" (dict "tree" .Site.Data.docs_cn_toc "global" .) }}
        </div>
      </div>
    </div>

    <div class="archive">
      <div class="content markdown-body">
        {{ with .Site.GetPage "page" "docs-cn/overview.md" }}{{.Content}}{{ end }}
      </div>
      <div class="article-toc"></div>
    </div>

    <div class="sidebar-page sticky-sidebar">
      {{ with .Site.GetPage "page" "docs-cn/overview.md" }}
        {{ partial "archives/improve-doc.html" (dict "repo" "docs-cn" "global" . "isCn" "true") }}
      {{ end }}
      {{ partial "archives/download-pdf.html" (dict "isCn" "true") }}
      <p class="toc-title">本页导航</p>
      <div id="smarttoc_wrapper"></div>
    </div>

  </div>
</div>
{{ end }}
