{{ define "headcss" }}
{{$.Scratch.Set "nav_active" "docs"}}
{{$.Scratch.Set "data_i18_cn" true }}
{{$.Scratch.Set "data_i18_link" "/docs" }}
<!-- <link href="/css/doc.css" rel="stylesheet"> -->
{{ end }}

{{ define "main" }}
<div class="doc">
  <div class="container">
    <div class="nav nav-tree">
      <h1 class="title"> 文档 </h1>
      <div class="st_tree" id="st-tree">
        {{ partial "tree-nav.html" (dict "tree" .Site.Data.docs_cn_toc "global" .) }}
      </div>
    </div>

      <div class="archive">
          <div class="content">{{ readFile "/content/docs-cn/overview.md" | markdownify }}</div>

          <div class="draw">
            <img src="https://download.pingcap.com/images/docs-simple.png" width="100%">
          </div>

          <div class="operate">
              <div class="item">
                  <a href="https://www.facebook.com/sharer.php?u=http%3a%2f%2fwww.pingcap.com%2f$url$">
                    <i class="icon">{{ partial "svgs/icon-share.svg" (dict "fill" "#040000" "width" 22 "height" 22 ) }}</i><span>分享</span>
                  </a>
              </div>
              <div class="item" onclick="window.print();">
                  <a href="javascript:;">
                    <i class="icon">{{ partial "svgs/icon-print.svg" (dict "fill" "#040000" "width" 22 "height" 22 ) }}</i><span>打印</span>
                  </a>
              </div>
              <!-- TODO: add timestamp  -->
              <div class="item">
                  <a href="http://download.pingcap.org/tidb-manual-cn.pdf" download="tidb-manual-cn.pdf">
                    <i class="icon">{{ partial "svgs/icon-download.svg" (dict "fill" "#040000" "width" 22 "height" 22 ) }}</i><span>下载</span>
                  </a>
              </div>
              <div class="item">
                  <a href="mailto:info@pingcap.com">
                    <i class="icon icon-mail">{{ partial "svgs/icon-feedback.svg" (dict "fill" "#040000" "width" 22 "height" 17 ) }}</i><span>反馈</span>
                  </a>
              </div>
          </div>
    </div>
  </div>
</div>
{{ end }}
