{{ define "headtpl" }}
  <link rel="stylesheet" href="/css/vendor/github-markdown.css" />
  {{$.Scratch.Set "nav_active" "docs"}}
  {{$.Scratch.Set "data_i18_cn" true }}
  {{$v0 := (strings.TrimPrefix "docs-cn/" .File.Path )}}
  {{$v1 := (strings.TrimSuffix ".md" $v0 )}}
  {{$v := (printf "%s%s" "/docs/" $v1)}}
  {{$.Scratch.Set "data_i18_link" $v }}
{{ end }}

{{ define "main" }}
<div class="doc">
  <div class="container content-container">
    <div class="sidebar">
      <div class="sticky-sidebar">
        <h2 class="title"> 文档 </h2>
        <div class="st_tree nav-toc">
          {{ partial "navs/tree-nav.html" (dict "tree" .Site.Data.docs_cn_toc "global" .) }}
        </div>
      </div>
    </div>

    <div class="archive">
      <div class="content markdown-body">
        {{ .Content }}
      </div>
      <div class="article-toc"></div>
      {{ partial "archives/git-info.html" (dict "repo" "docs-cn" "isCn" "true" "global" .) }}
    </div>

    <div class="sidebar-page sticky-sidebar">
      {{ partial "archives/improve-doc.html" (dict "repo" "docs-cn" "global" . "isCn" "true") }}
      <p class="toc-title">本页导航</p>
      <div id="smarttoc_wrapper"></div>
    </div>
  </div>
</div>

{{ end }}
