<section class="footer" id="footer">
    <div class="container">
        <div class="left">
          <img src="https://download.pingcap.com/images/pingcap_logo.png" class="logo" alt="PingCap" style="width: 140px;">
          <span class="copyright">&copy; 2017 PingCAP. All Rights Reserved.</span>
          <a href="{{ .Params.data_i18_page_link }}" class="btn-lang" id="lang">中文</a>
        </div>
        <div class="right">
            <div class="social-links">
                <a href="mailto:info@pingcap.com" class="link_icon email">
                  {{ partial "svgs/icon-mail.svg" (dict "fill" "#fff" "size" 26 "width" 26 ) }}
                </a>
                <a href="https://github.com/pingcap/tidb" class="link_icon github">
                  {{ partial "svgs/icon-github-footer.svg" (dict "fill" "#fff" "size" 26 "width" 26 ) }}
                </a>
                <a href="https://twitter.com/PingCAP" class="link_icon twitter">
                  {{ partial "svgs/icon-twitter.svg" (dict "fill" "#fff" "size" 26 "width" 26 ) }}
                </a>
                <a href="https://www.facebook.com/pingcap2015" class="link_icon facebook">
                  {{ partial "svgs/icon-facebook.svg" (dict "fill" "#fff" "size" 26 "width" 26 ) }}
                </a>
            </div>
            <div id="subscribe" class="subscribe">
                <!-- Begin MailChimp Signup Form -->
                <style type="text/css" media="screen">
                    #mc_embed_signup .response {
                        margin-top: 10px;
                    }
                </style>
                <div id="mc_embed_signup">
                    <form action="//pingcap.us16.list-manage.com/subscribe/post?u=ab57beb8a88391cf6193c1b48&amp;id=7c67af4f9d" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                        <div id="mc_embed_signup_scroll">
                            <div class="form-inline">
                                <input type="email" value="" name="EMAIL" id="mce-EMAIL" class="form-control" placeholder="Subscribe to our newsletter">
                                <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-subscribe">
                            </div>
                            <div id="mce-responses" class="clear">
                                <div class="response" id="mce-error-response" style="display:none"></div>
                                <div class="response" id="mce-success-response" style="display:none"></div>
                            </div>
                            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                            <div style="position: absolute; left: -5000px;" aria-hidden="true">
                                <input type="text" name="b_ab57beb8a88391cf6193c1b48_7c67af4f9d" tabindex="-1" value="">
                            </div>
                        </div>
                    </form>
                </div>
                <script type='text/javascript' src='https://download.pingcap.com/js/mc-validate.js'></script>
                <script type='text/javascript'>
                ;(function($) {
  window.fnames = new Array()
  window.ftypes = new Array()
  fnames[0] = 'EMAIL'
  ftypes[0] = 'email'
  fnames[1] = 'FNAME'
  ftypes[1] = 'text'
  fnames[2] = 'LNAME'
  ftypes[2] = 'text'
})(jQuery)
var $mcj = jQuery.noConflict(true)
</script>
                <!--End mc_embed_signup-->
            </div>
        </div>
    </div>
</section>
