{{ $data_i18_link := $.Scratch.Get "data_i18_link" }}
<section class="footer" id="footer">
  <div class="container">
    <div class="flex-list-wrap">
      <div class="flex-list">
        <h4 class="list-title"><strong>Product</strong></h4>
        <ul>
          <li><a href="https://pingcap.com/docs/overview/#tidb-introduction">TiDB</a></li>
          <li><a href="https://pingcap.com/docs/tispark/tispark-user-guide/">TiSpark</a></li>
          <li><a href="https://github.com/pingcap/docs/blob/master/ROADMAP.md" target="_blank">Roadmap</a></li>
        </ul>
      </div>
      <div class="flex-list">
        <h4 class="list-title"><strong>Docs</strong></h4>
        <ul>
          <li><a href="https://pingcap.com/docs/QUICKSTART/">Quick Start</a></li>
          <li><a href="https://pingcap.com/blog/2017-07-24-tidbbestpractice/">Best Practices</a></li>
          <li><a href="https://pingcap.com/docs/FAQ/">FAQ</a></li>
          <li><a href="https://pingcap.com/docs/tools/syncer/">TiDB Utilities</a></li>
          <li><a href="https://pingcap.com/docs/release/rn/">Release Notes</a></li>
        </ul>
      </div>
      <div class="flex-list">
        <h4 class="list-title"><strong>Resources</strong></h4>
        <ul>
          <li><a href="https://pingcap.com/blog/">Blog</a></li>
          <li><a href="https://github.com/pingcap" target="_blank">GitHub</a></li>
          <li><a href="https://www.youtube.com/watch?v=dijsN0bddck" target="_blank">Tech Talks</a></li>
        </ul>
      </div>
      <div class="flex-list">
        <h4 class="list-title"><strong>Company</strong></h4>
        <ul>
          <li><a href="https://pingcap.com/about/">About</a></li>
          <li><a href="https://pingcap.com/recruit/">Careers</a></li>
          <li>Use Cases</li>
          <li>Press</li>
        </ul>
      </div>
    </div>
    <div class="contact-list-wrap">
      <div class="flex-list">
        <h4 class="list-title"><strong>Contact</strong></h4>
        <ul>
          <li><a href="https://twitter.com/PingCAP" target="_blank">Twitter</a></li>
          <li><a href="https://www.reddit.com/r/TiDB/" target="_blank">Reddit</a></li>
          <li><a href="https://groups.google.com/forum/#!forum/tidb-user" target="_blank">Google Group</a></li>
          <li><a href="https://stackoverflow.com/questions/tagged/tidb" target="_blank">Stack Overflow</a></li>
        </ul>
      </div>
      <div class="subscribe">{{ partial "mailchimp-js.html" . }}</div>
    </div>
  </div>
  <div class="container">
    <p class="copyright">&copy; 2017 PingCAP. All Rights Reserved.</p>
    <a href="{{ or $data_i18_link .Params.data_i18_page_link }}" class="btn-lang" id="lang">中文</a>
  </div>
</section>
