{{ $data_i18_link := $.Scratch.Get "data_i18_link" }}
<section class="footer">
    <div class="container">
        <div class="left">
            <img class="logo" src="https://download.pingcap.com/images/pingcap_logo.png" alt="PingCap" style="width: 140px;">
            <span class="copyright"> &copy; 2017 北京平凯星辰科技发展有限公司</span>
            <a href="{{ or $data_i18_link .Params.data_i18_page_link }}" class="btn-lang" id="lang">English</a>
        </div>
        <div class="right">
            <div class="social-links">
                <a href="mailto:info@pingcap.com" class="link_icon email">
                  {{ partial "svgs/icon-mail.svg" }}
                </a>
                <a href="javascript:;" class="link_icon wechat" id="wechat">
                  {{ partial "svgs/icon-weixin.svg" }}
                </a>
                <a href="http://www.weibo.com/pingcap" class="link_icon weibo">
                   {{ partial "svgs/icon-weibo.svg" }}
                </a>
            </div>
            <div class="subscribe">{{ partial "mailchimp-js.html" . }}</div>
            {{ partial "qr-code.html" . }}
        </div>
    </div>
</section>
