<section class="footer" id="footer">
  {{ $data_i18_link := $.Scratch.Get "data_i18_link" }}
    <div class="container">
        <div class="left">
          <img src="https://download.pingcap.com/images/pingcap_logo.png" class="logo" alt="PingCap" style="width: 140px;">
          <span class="copyright">&copy; 2017 PingCAP. All Rights Reserved.</span>
          <a href="{{ or $data_i18_link .Params.data_i18_page_link }}" class="btn-lang" id="lang">中文</a>
        </div>
        <div class="right">
            <div class="social-links">
                <a href="mailto:info@pingcap.com" class="link_icon email">
                  {{ partial "svgs/icon-mail.svg" (dict "fill" "#fff" "size" 26 "width" 26 ) }}
                </a>
                <a href="https://github.com/pingcap/tidb" class="link_icon github">
                  {{ partial "svgs/icon-github-footer.svg" (dict "fill" "#fff" "size" 26 "width" 26 ) }}
                </a>
                <a href="https://twitter.com/PingCAP" class="link_icon twitter">
                  {{ partial "svgs/icon-twitter.svg" (dict "fill" "#fff" "size" 26 "width" 26 ) }}
                </a>
                <a href="https://www.facebook.com/pingcap2015" class="link_icon facebook">
                  {{ partial "svgs/icon-facebook.svg" (dict "fill" "#fff" "size" 26 "width" 26 ) }}
                </a>
            </div>
            <div class="subscribe">{{ partial "mailchimp-js.html" . }}</div>
        </div>
    </div>
</section>
