<style type="text/css">
  .loading-wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to top, #080000, #100f2e);
    z-index: 99;
    animation: fadeOut 1s;
  }
  @keyframes fadeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
</style>

<div class="loading-wrapper" id="loading">
  {{ partial "svgs/loading.svg" (dict "fill" "#fff" "width" 36 "height" 36 ) }}
</div>

<script type="text/javascript">
window.onload = function() {
  document.getElementById('loading').setAttribute('style', 'display: none;')
}
</script>
