

<div class="col-md-4 nav nav-tree" id="st-tree">
    <h1 class="title"> 文档 </h1>
    <div class="st_tree">
        <ul>


                <li><a href="#">TiDB 简介与整体架构</a></li>

                    <ul>


            <li>
                <i class="icon"></i>
                <a href="/docs-cn/overview/#tidb-简介">TiDB 简介</a>
            </li>



            <li>
                <i class="icon"></i>
                <a href="/docs-cn/overview/#tidb-整体架构">TiDB 整体架构</a>
            </li>


    </ul>




                <li><a href="#">TiDB 快速入门指南</a></li>

                    <ul>


            <li>
                <i class="icon"></i>
                <a href="/docs-cn/QUICKSTART/#关于-tidb">关于 TiDB</a>
            </li>



            <li>
                <i class="icon"></i>
                <a href="/docs-cn/QUICKSTART/#关于本指南">关于本指南</a>
            </li>



            <li>
                <i class="icon"></i>
                <a href="/docs-cn/QUICKSTART/#tidb-集群部署">集群部署</a>
            </li>



            <li>
                <i class="icon"></i>
                <a href="/docs-cn/QUICKSTART/#tidb-基本操作">基本操作</a>
            </li>



            <li>
                <i class="icon"></i>
                <a href="/docs-cn/QUICKSTART/#tidb-集群监控">集群监控</a>
            </li>



            <li>
                <i class="icon"></i>
                <a href="/docs-cn/QUICKSTART/#tidb-集群扩容缩容方案">扩容缩容</a>
            </li>



            <li>
                <i class="icon"></i>
                <a href="/docs-cn/QUICKSTART/#集群销毁">集群销毁</a>
            </li>


    </ul>




                <li><a href="#">TiDB 运维文档</a></li>

                    <ul>


            <li>
                <i class="icon"></i>
                <a href="/docs-cn/op-guide/recommendation/">软硬件环境需求</a>
            </li>



                <li><a href="#">部署集群</a></li>

                    <ul>


            <li>
                <i class="icon"></i>
                <a href="/docs-cn/op-guide/ansible-deployment/">Ansible 部署方案 (强烈推荐)</a>
            </li>



            <li>
                <i class="icon"></i>
                <a href="/docs-cn/op-guide/docker-deployment/">Docker 部署方案</a>
            </li>



            <li>
                <i class="icon"></i>
                <a href="/docs-cn/op-guide/location-awareness/">跨机房部署方案</a>
            </li>


    </ul>




                <li><a href="#">配置集群</a></li>

                    <ul>


            <li>
                <i class="icon"></i>
                <a href="/docs-cn/op-guide/configuration/">配置参数</a>
            </li>


    </ul>




                <li><a href="#">监控集群</a></li>

                    <ul>


            <li>
                <i class="icon"></i>
                <a href="/docs-cn/op-guide/monitor-overview/">整体监控框架概述</a>
            </li>



            <li>
                <i class="icon"></i>
                <a href="/docs-cn/op-guide/dashboard-overview-info/">重要监控指标详解</a>
            </li>



            <li>
                <i class="icon"></i>
                <a href="/docs-cn/op-guide/monitor/">组件状态 API & 监控</a>
            </li>


    </ul>




            <li>
                <i class="icon"></i>
                <a href="/docs-cn/op-guide/horizontal-scale/">扩容缩容</a>
            </li>



                <li><a href="#">升级</a></li>

                    <ul>


            <li>
                <i class="icon"></i>
                <a href="/docs-cn/op-guide/ansible-deployment/">使用 Ansible 升级</a>
            </li>


    </ul>




                <li><a href="#">性能调优</a></li>

                    <ul>


            <li>
                <i class="icon"></i>
                <a href="/docs-cn/op-guide/tune-tikv/">TiKV 性能参数调优</a>
            </li>


    </ul>




                <li><a href="#">备份与迁移</a></li>

                    <ul>


            <li>
                <i class="icon"></i>
                <a href="/docs-cn/op-guide/backup-restore/">备份与恢复</a>
            </li>



            <li>
                <i class="icon"></i>
                <a href="/docs-cn/op-guide/migration/#使用-mydumperloader-全量导入数据">全量导入</a>
            </li>



            <li>
                <i class="icon"></i>
                <a href="/docs-cn/op-guide/migration/#使用-syncer-增量导入数据">增量导入</a>
            </li>


    </ul>




                <li><a href="#">手动运维</a></li>

                    <ul>


            <li>
                <i class="icon"></i>
                <a href="/docs-cn/op-guide/binary-deployment/">Binary 部署方案</a>
            </li>


    </ul>



    </ul>




                <li><a href="#">TiDB 用户文档</a></li>

                    <ul>


                <li><a href="#">TiDB 数据库管理</a></li>

                    <ul>


            <li>
                <i class="icon"></i>
                <a href="/docs-cn/tidb-specific/">TiDB 专用系统变量和语法</a>
            </li>


    </ul>




                <li><a href="#">TiDB 安全</a></li>

                    <ul>


            <li>
                <i class="icon"></i>
                <a href="/docs-cn/privilege/">TiDB 访问权限管理</a>
            </li>


    </ul>




                <li><a href="#">优化</a></li>

                    <ul>


            <li>
                <i class="icon"></i>
                <a href="/docs-cn/understanding-the-query-execution-plan/">理解 TiDB 执行计划</a>
            </li>


    </ul>




                <li><a href="#">数据类型</a></li>

                    <ul>


            <li>
                <i class="icon"></i>
                <a href="/docs-cn/datatype/#数值类型">数值类型</a>
            </li>



            <li>
                <i class="icon"></i>
                <a href="/docs-cn/json-functions-generated-column/">JSON 数据类型</a>
            </li>


    </ul>




                <li><a href="#">SQL 语句语法</a></li>

                    <ul>


            <li>
                <i class="icon"></i>
                <a href="/docs-cn/ddl/">数据定义语句(DDL)</a>
            </li>



            <li>
                <i class="icon"></i>
                <a href="/docs-cn/dml/">数据操作语句(DML)</a>
            </li>



            <li>
                <i class="icon"></i>
                <a href="https://pingcap.github.io/sqlgram/">TiDB SQL 语法图</a>
            </li>


    </ul>




            <li>
                <i class="icon"></i>
                <a href="/docs-cn/trouble-shooting/">故障诊断</a>
            </li>


    </ul>




                <li><a href="#">高级功能</a></li>

                    <ul>


            <li>
                <i class="icon"></i>
                <a href="/docs-cn/history-read/">历史数据回溯</a>
            </li>


    </ul>




                <li><a href="#">工具</a></li>

                    <ul>


            <li>
                <i class="icon"></i>
                <a href="/docs-cn/tools/loader/">Loader 使用文档</a>
            </li>



            <li>
                <i class="icon"></i>
                <a href="/docs-cn/tools/syncer/">Syncer 使用文档</a>
            </li>



            <li>
                <i class="icon"></i>
                <a href="/docs-cn/tidb-binlog/">TiDB-binlog 使用文档</a>
            </li>



            <li>
                <i class="icon"></i>
                <a href="/docs-cn/pd-control/">PD 命令行工具</a>
            </li>


    </ul>




                <li><a href="#">TiSpark 文档</a></li>

                    <ul>


            <li>
                <i class="icon"></i>
                <a href="/docs-cn/tispark-quick-start-guide/">TiSpark 快速入门指南</a>
            </li>



            <li>
                <i class="icon"></i>
                <a href="/docs-cn/tispark-user-guide/">TiSpark 用户指南</a>
            </li>


    </ul>




            <li>
                <i class="icon"></i>
                <a href="/docs-cn/FAQ/">常见问题与解答</a>
            </li>



            <li>
                <i class="icon"></i>
                <a href="https://pingcap.com/blog-TiDB-Best-Practice-zh">最佳实践</a>
            </li>



                <li><a href="#">版本发布声明</a></li>

                    <ul>


            <li>
                <i class="icon"></i>
                <a href="/docs-cn/releases/prega/">Pre-GA</a>
            </li>



            <li>
                <i class="icon"></i>
                <a href="/docs-cn/releases/rc4/">RC4</a>
            </li>



            <li>
                <i class="icon"></i>
                <a href="/docs-cn/releases/rc3/">RC3</a>
            </li>



            <li>
                <i class="icon"></i>
                <a href="/docs-cn/releases/rc2/">RC2</a>
            </li>



            <li>
                <i class="icon"></i>
                <a href="/docs-cn/releases/rc1/">RC1</a>
            </li>


    </ul>




                <li><a href="#">更多资源</a></li>

                    <ul>


            <li>
                <i class="icon"></i>
                <a href="https://pingcap.com/bloglist-zh.html">PingCAP 团队技术博客</a>
            </li>


    </ul>



    </ul>
     </div>
</div>
