
<div class="col-md-4 nav nav-tree">
    <h1 class="title"> 招聘职位 </h1>
    <div class="st_tree" id="recruit-nav">
        <ul>
        
            <li><a href="#">技术类职位</a></li>
            <ul>
        

        
            <li>
                <i class="icon"></i>
                <a href="/recruit-database-kernel-engineer-zh.html">Database Kernel Engineer</a>
            </li>
        
            <li>
                <i class="icon"></i>
                <a href="/recruit-database-storage-engineer-zh.html">Database Storage Engineer</a>
            </li>
        
            <li>
                <i class="icon"></i>
                <a href="/recruit-SRE-Tools-Engineer-zh.html">SRE and Tools Engineer</a>
            </li>
        
            <li>
                <i class="icon"></i>
                <a href="/recruit-OPS-engineer-zh.html">OPS Engineer</a>
            </li>
        
            <li>
                <i class="icon"></i>
                <a href="/recruit-DBA-zh.html">DBA</a>
            </li>
        

    </ul>
        
            <li><a href="#">市场类职位</a></li>
            <ul>
        

        
            <li>
                <i class="icon"></i>
                <a href="/recruit-pr-manager-zh.html">PR</a>
            </li>
        

    </ul>
        
            <li><a href="#">销售 | 售前 | 售后类职位</a></li>
            <ul>
        

        
            <li>
                <i class="icon"></i>
                <a href="/recruit-channel-co-director-zh.html">渠道合作总监</a>
            </li>
        
            <li>
                <i class="icon"></i>
                <a href="/recruit-senior-business-manager-zh.html">高级业务拓展（销售）经理</a>
            </li>
        
            <li>
                <i class="icon"></i>
                <a href="/recruit-sales-director-zh.html">行业销售总监</a>
            </li>
        
            <li>
                <i class="icon"></i>
                <a href="/recruit-presales-director-zh.html">售前技术总监</a>
            </li>
        

    </ul>
        
            <li><a href="#">校园招聘职位</a></li>
            <ul>
        

        
            <li>
                <i class="icon"></i>
                <a href="/recruit-frontend-engineer-zh.html">Front End Engineer</a>
            </li>
        
            <li>
                <i class="icon"></i>
                <a href="/recruit-infrastructure-engineer-zh.html">Infrastructure Engineer</a>
            </li>
        
            <li>
                <i class="icon"></i>
                <a href="/recruit-infrastructure-engineer-intern-zh.html">Infrastructure Engineer Intern</a>
            </li>
        

    </ul>
        

        

    </ul>
     </div>
</div>