{{ define "main" }}
<div class="container">
    <div class="col-md-8 list">
        <section class="item">
            <div class="content">
                <div id="error">
                    <h1 class="a">Sorry... 404!</h1>
                    <p>The page you were looking for appears to have been moved, deleted or does not exist. You could go back to <a href="javascript:history.back();"><span class="go-back">where you were</span></a> or head straight to our <a href="/">home page</a></p>
                </div>
            </div>
        </section>
    </div>
</div>
{{ end }}
