{{ define "title" }}Recruit{{ end }}

{{ define "headtpl" }}
  {{$.Scratch.Set "nav_active" "about"}}
  {{$.Scratch.Set "data_i18_link" "/recruit-cn" }}
{{ end }}

{{ define "main" }}
<div class="recruit">
  <div class="container content-container">
    {{ $posts := where (where .Site.Pages "Section" "recruit") ".Params.title" "!=" nil  }}
    {{ partial "navs/tags-nav.html" (dict "title" "Job Categories" "posts" $posts "global" .) }}

    {{ partial "archives/list.html" (dict "posts" $posts "global" .) }}
   </div>
</div>
{{ end }}
