{{ define "title" }}Recruit{{ end }}

{{ define "headTpl" }}
    {{$.Scratch.Set "nav_active" "about"}}
    {{$.Scratch.Set "data_i18_link" "/recruit-cn" }}
    <link rel="stylesheet" href="/css/doc.css" />
    <link rel="stylesheet" href="/css/list.css" />
{{ end }}

{{ define "main" }}
<div class="recruit">
    <div class="container content-container">
        {{ $posts := where (where .Site.Pages "Section" "recruit") ".Params.title" "!=" nil  }}
        {{ partial "navs/tags-nav.html" (dict "title" "Job Categories" "posts" $posts "global" .) }}

        {{ partial "archives/list.html" (dict "posts" $posts "global" .) }}
    </div>
</div>
{{ end }}

{{ define "footJS" }}
    <script type="text/javascript" src="/js/doc.js"></script>
{{ end }}
