{{ define "headcss" }}
{{$.Scratch.Set "nav_active" "about"}}
{{$.Scratch.Set "data_i18_link" "/recruit-cn" }}
<!-- <link href="/css/joblist.css" rel="stylesheet"> -->
{{ end }}

{{ define "main" }}
<div class="recruit">
    <div class="container">
        <div class="nav nav-tags">
            <h1 class="title">Job Categories</h1>
            <ul class="tag-list">
              {{ range .Data.Pages.GroupByParam "tags" }}
              <!-- TODO sel active class -->
              <li><a href="" class="tag"> {{ .Key }} ({{ len .Pages }})</a></li>
              {{ end }}
            </ul>
        </div>
        <div class="list">
            {{ range .Data.Pages }}
                <div class="article">
                    <h1 class="title"><a href="{{ .URL }}">{{ .Title }}</a></h1>
                    <div class="article_divider"></div>
                </div>
            {{ end }}
        </div>
    </div>
</div>
{{ end }}
