{{ define "headtpl" }}
  {{$.Scratch.Set "nav_active" "about"}}
  {{$.Scratch.Set "data_i18_link" "/recruit-cn" }}
{{ end }}

{{ define "main" }}
<div class="recruit">
  <!-- {{ partial "loading/2-column-layout.html" }} -->
  <div class="container content-container">
    <div class="sidebar">
      <div class="sticky-sidebar">
        <h2 class="title"> Open Jobs </h2>
        <div class="st_tree nav-toc" style="display: none;">
          {{ partial "navs/tree-nav.html" (dict "tree" .Site.Data.recruit_toc "global" .) }}
        </div>
      </div>
    </div>

    <div class="archive">
      <div class="content">{{ .Content }}</div>
      <!-- TODO: change to left fixed -->
      <div class="operate">
        <div class="item">
          <a href="mailto:hire@pingcap.com">
            <i class="icon icon-mail">
              {{ partial "svgs/icon-feedback.svg" (dict "fill" "#040000" "width" 24 "height" 24 ) }}
            </i>Join Us
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
{{ end }}
