<div class="navbar-wrapper">
  <nav>
    <ul class="container container-navbar">
      <li class="navbar__item navbar__item-logo">
        <img src="/images/tidb-academy-logo.png" alt="TiDB Academy">
      </li>
      <li class="navbar__item">
        <img class="avatar j-avatar" src="/images/svgs/icon-avatar.svg" alt="avatar" /><span id="username" class="username"></span>
      </li>
    </ul>
  </nav>
  <div class="dropdown container j-dropdown">
    <ul>
      <!-- <li class="dropdown__item"><a href="">My Courses</a></li> -->
      <li class="dropdown__item"><a href="/profile">Academy Profile</a></li>
      <li class="dropdown__item"><a href="javascript:void(0)" id="qsLogoutBtn">Sign Out</a></li>
    </ul>
  </div>
</div>

{{- define "footJS" -}}
<script type="text/javascript" src="/js/doc.js"></script>
<script type="text/javascript" src="/js/vendor/login.js"></script>
<script src="https://cdn.auth0.com/js/auth0/9.5.1/auth0.min.js"></script>
<script type="text/javascript" src="/js/vendor/auth0-variables.js"></script>
{{- end -}}


