<nav class="navbar j-navbar">
    <ul class="container container-navbar">
        <li class="navbar__item navbar__item-logo">
            <img src="/images/tidb-academy-logo.png" alt="TiDB Academy">
        </li>
        <li class="navbar__item">
            <img class="avatar j-avatar" src="/images/svgs/icon-avatar.svg" alt="avatar" /><span id="username" class="username">Jason Brown</span>
        </li>
    </ul>
</nav>
<div class="dropdown container j-dropdown">
    <ul>
        <li class="dropdown__item"><a href="">My Courses</a></li>
        <li class="dropdown__item"><a href="">Academy Profile</a></li>
        <li class="dropdown__item"><a href="">Sign <span class="j-status">Out</span></a></li>
    </ul>
</div>

