<div class="operate">
    <div class="item">
        <a href="https://www.facebook.com/sharer.php?u={{ .global.URL | absURL }}" target="_blank">
          <i class="icon">{{ partial "svgs/icon-share.svg" (dict "fill" "#040000" "width" 22 "height" 22 ) }}</i>
          <span>{{ if .isCn }}分享{{ else }}Share{{ end }}</span>
        </a>
    </div>
    <div class="item" onclick="window.print();">
        <a href="javascript:;">
          <i class="icon">{{ partial "svgs/icon-print.svg" (dict "fill" "#040000" "width" 22 "height" 22 ) }}</i>
          <span>{{ if .isCn }}打印{{ else }}Print{{ end }}</span>
        </a>
    </div>
    <div class="item">
      {{ if .isCn }}
        <a href="http://download.pingcap.org/tidb-manual-cn.pdf?v={{ now.Unix }}" download="tidb-manual-cn.pdf">
      {{ else }}
      <a href="http://download.pingcap.org/tidb-manual-en.pdf?v={{ now.Unix }}" download="tidb-manual-en.pdf">
      {{ end }}
          <i class="icon">{{ partial "svgs/icon-download.svg" (dict "fill" "#040000" "width" 22 "height" 22 ) }}</i>
          <span>{{ if .isCn }}下载{{ else }}Download{{ end }}</span>
        </a>
    </div>
    <div class="item">
        <a href="mailto:info@pingcap.com">
          <i class="icon icon-mail">{{ partial "svgs/icon-feedback.svg" (dict "fill" "#040000" "width" 22 "height" 17 ) }}</i>
          <span>{{ if .isCn }}反馈 {{ else }}Feedback{{ end }}</span>
        </a>
    </div>
</div>
