{{ define "title" }}Meetup{{ end }}

{{ define "headcss" }}
  {{$.Scratch.Set "nav_active" "meetup"}}
  {{$.Scratch.Set "data_i18_cn" true }}
{{ end }}

{{ define "main" }}
{{ $posts := where (where .Site.Pages "Section" "meetup") ".Params.title" "!=" nil  }}
<div class="meetup">
    <div class="container">
        {{ partial "navs/tags-nav.html" (dict "title" "Popular Tags" "posts" $posts "global" .) }}
        {{ partial "list.html" (dict "posts" $posts.ByDate.Reverse "hasMetaData" "true" "hasBrief" "true" "global" .) }}
    </div>
</div>

{{ end }}
