{{- define "headTpl" -}}
    <style type="text/css" media="screen">
        .st_tree {
            display: none;
        }
    </style>
    {{- partial "head/preload-css" (dict "href" "https://download.pingcap.com/style/github-markdown.css") -}}
    {{- partial "head/preload-css" (dict "href" "/css/doc.css") -}}
    {{$.Scratch.Set "nav_active" "meetup"}}
    {{$.Scratch.Set "data_i18_cn" true }}
    {{$.Scratch.Set "data_i18_link" "/weekly" }}
{{- end -}}

{{- define "main" -}}
<div class="meetup">
    <div class="container">
        <!-- category: memoir/ record -->
        {{ $blogs := where (where .Site.Pages "Section" "meetup") ".Params.title" "!=" nil }}
        {{- partial "navs/date-tree-nav.html" (dict "title" "Meetup" "data" $blogs ) -}}

        <div class="archive">
            <div class="content markdown-body">
                <h1 class="title">{{ .Title }}</h1>
                <ul class="blog-post-meta">
                    <li class="meta-item">
                        <img src="/images/svgs/icon-date.svg">
                        {{- .Date.Format "Mon, Jan 2, 2006" -}}
                    </li>
                    <li class="meta-item">
                        <img src="/images/svgs/icon-writer.svg">
                        {{ $len := len .Params.author }}
                        {{- range $idx, $i := .Params.author -}}
                            {{ . }}
                            {{- if lt $idx (sub $len 1) -}} ,&nbsp; {{- end -}}
                        {{- end -}}
                    </li>
                </ul>
                <div class="blog-text">{{- .Content -}}</div>
            </div>
        </div>
    </div>
</div>
{{- end -}}

{{- define "footJS" -}}
    <script type="text/javascript" src="/js/doc.js"></script>
{{- end -}}

