<div class="list news-list">
  {{ range .posts }}
    <!-- <div class="loading-item">
      {{ partial "loading/fb-item-loading.html" }}
    </div> -->
    <div class="list-item">
      <div class="list-item__left">
        <img class="list-item__logo" src="{{ .logo }}" alt="{{ .name }} logo">
      </div>
      <div class="list-item__right">
        <span class="list-item__date">{{ .date }}</span>
        <a href="{{ .link }}" class="list-item__title" target="_blank">{{ .title }}</a>
      </div>
    </div>
  {{ end }}
</div>
