{{- define "title" -}} 招贤纳士 - 为什么选择 PingCAP {{- end -}}

{{ define "headTpl" }}
    {{$.Scratch.Set "nav_active" "about"}}
    {{$.Scratch.Set "data_i18_cn" true }}
    {{$.Scratch.Set "data_i18_link" "https://angel.co/pingcap-1/jobs" }}
    <link rel="stylesheet" type="text/css" href="https://download.pingcap.com/style/gridtab.min.css" />
    <link rel="stylesheet" href="/css/doc.css" />
    <link rel="stylesheet" href="/css/recruit.css" />
{{ end }}

{{ define "main" }}
<div class="recruit">
    <div class="container">
        {{ partial "archives/sticky-tree.html" (dict "tree" .Site.Data.recruit_cn "title" "招贤纳士") }}

        <div class="archive">
            <div class="section section-culture">
                <h2 id="culture" class="title">体验纯正的工程师文化</h2>

                <div class="cards">
                    {{ range .Site.Data.about_culture }}
                        {{ partial "recruit/card.html" (dict "title" .title "description" .description "avatar" .avatar) }}
                    {{ end }}
                </div>
            </div>

            <div class="section">
                <h2 id="pingcaper" class="title">学长学姐说</h2>
                {{ partial "recruit/chat.html" (dict "employee" .Site.Data.pingcaper) }}
            </div>

            <div class="section">
                <h2 id="qa" class="title">Q &amp; A</h2>
                <div id="qa-tabs">
                    <dt>All</dt>
                    <dd>{{ partial "recruit/qa-tab-panel.html" (dict "data" .Site.Data.about_qa "global" .) }}</dd>
                    {{ range $index, $data := .Site.Data.about_qa }}
                        <dt class="tab-{{ $index }}">{{ .tag }}</dt>
                        <dd>{{ partial "recruit/qa-tab-panel.html" (dict "data" .Site.Data.about_qa "tag" .tag "global" .) }}</dd>
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
</div>
{{ end }}

{{ define "footJS" }}
    <script type="text/javascript" src="/js/doc.js"></script>
    <script type="text/javascript" src="https://download.pingcap.com/js/gridtab.min.js"></script>
    <script type="text/javascript">
        $(function() {
            $('.hider').click (function () {
                $(this).parent('.message').removeClass('blur')
            })

            $('#qa-tabs').gridtab({
                grid: 7,
                tabPadding: 12,
                contentPadding: 0,
                config: {
                    layout: 'tab',
                    activeTab: 1,
                    keepOpen: true,
                },
            });

            function setHeight() {
                $(".response").each(function(index,element){
                    var target = $(element);
                    target.removeClass("fixed-height");
                    var height = target.innerHeight();
                    target.attr("data-height", height)
                        .addClass("fixed-height");
                });
            };

            $("input[name=question]").on("change", function(){
                $("p.response").removeAttr("style");

                var target = $(this).next().next();
                target.height(target.attr("data-height"));
            })

            setHeight();
        })
    </script>
{{ end }}
