{{ define "title" }} 招贤纳士 - 招聘流程 {{ end }}

{{ define "headTpl" }}
    {{$.Scratch.Set "nav_active" "about"}}
    {{$.Scratch.Set "data_i18_cn" true }}
    {{$.Scratch.Set "data_i18_link" "https://angel.co/pingcap-1/jobs" }}
    <link rel="stylesheet" href="/css/doc.css" />
    <link rel="stylesheet" href="/css/recruit.css" />
{{ end }}

{{ define "main" }}
<div class="recruit">
    <div class="container">
        {{ partial "archives/sticky-tree.html" (dict "tree" .Site.Data.recruit_cn "title" " 招贤纳士") }}

        <div class="archive">
            <div class="section">
                <h2 class="title">招聘流程</h2>
                <div class="desc">
                    PingCAP 技术团队占整个公司 80%，是一个标准的技术型公司。
                    在人才标准上，我们一向奉行精英理念，以高门槛招人，同时需要对方热爱开源，认同开源的理念，本身也在参与开源项目，能深刻认识到开源的价值。
                    抛开具体的领域，我们认为优秀的人或多或少有一些共性的评价标准：
                    Quick learner、Earnest Curiosity、Faith in Open-Source、Self-driven、Get things done。
                    <br>
                    如果你也是这样的人，马上开始 Step 1，看看有没有心仪的职位吧！
                </div>
            </div>

            {{ partial "recruit/step-timeline.html" }}

        </div>
    </div>
</div>
{{ end }}

{{ define "footJS" }}
    <script type="text/javascript" src="/js/doc.js"></script>
{{ end }}
