{{ define "title" }} 招贤纳士 - 虚位以待 {{ end }}

{{ define "headTpl" }}
    {{$.Scratch.Set "nav_active" "about"}}
    {{$.Scratch.Set "data_i18_cn" true }}
    {{$.Scratch.Set "data_i18_link" "https://angel.co/pingcap-1/jobs" }}
    <link rel="stylesheet" href="/css/doc.css" />
{{ end }}

{{ define "main" }}
<div class="recruit">
    <div class="container content-container">
        {{ partial "archives/sticky-tree.html" (dict "tree" .Site.Data.recruit_cn "title" " 招贤纳士") }}

        {{ $posts := where (where .Site.Pages "Section" "recruit-cn") ".Params.title" "!=" nil  }}
        {{ partial "navs/tags-nav.html" (dict "title" "" "posts" $posts "global" .) }}

        <div class="list article-list">
        {{ range ($posts.ByParam "label").Reverse }}
            <div class="article" data-tag="{{ range .Params.tags }}{{ replace . " " "-" }} {{ end }}">
                <h1 class="title"><a href="{{ .URL }}" style="margin-right: 8px;">{{ .Title }}</a><span class="article_label">{{ .Params.label }}</span></h1>
                <div class="article_divider"></div>
            </div>
        {{ end }}
        </div>
    </div>
</div>
{{ end }}

{{ define "footJS" }}
    <script type="text/javascript" src="/js/doc.js"></script>
{{ end }}
