<aside class="aside-menu">
    <ul class="menu__list">
        <li><a href="/recruit-cn/" {{ if eq .active "working"}}class="active"{{ end }}><div>{{ partial "svgs/icon-working.svg" }}</div><div>Working At PingCAP</div></a></li>
        <li><a href="/recruit-cn/join/" {{ if eq .active "join"}}class="active"{{ end }}><div>{{ partial "svgs/icon-join.svg" }}</div><div>Join PingCAP</div></a></li>
        <!-- <li><a href="/recruit-cn/qa/" {{ if eq .active "qa"}}class="active"{{ end }}><div>{{ partial "svgs/icon-qa.svg" }}</div><div>Q &AMP; A</div></a></li> -->
    </ul>
</aside>