<div class="collapses-wrapper">
    <input class="animate" type="radio" name="question" id="q1"/>
    <label class="animate" for="q1">Q: What is Lorem Ipsum?</label>
    <p class="response animate">A: Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>

    <input class="animate" type="radio" name="question" id="q2"/>
    <label class="animate" for="q2">Q: Why do we use it?</label>
    <p class="response animate">A: It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>

    <input class="animate" type="radio" name="question" id="q3"/>
    <label class="animate" for="q3">Q: Where does it come for?</label>
    <p class="response animate">A: Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</p>

    <input class="animate" type="radio" name="question" id="q4"/>
    <label class="animate" for="q4">Q: 网上搜了很多的文章，最开始说 TiDB 是 NewSQL，最近好像又开始叫 HTAP，这个是什么原因呢?</label>
    <p class="response animate">
        A: 说到这个问题，得从最开始创业开始，15 年 4 月份出来创业的时候，我们一开始的想法是是解决 MySQL 扩展性问题，提供一个更好的 MySQL Cluster，来替换 MySQL 分库分表等中间件的解决方案，当时 NoSQL 概念也比较火，MongoDB，HBase，C* 关注度也很高，后来我们看到 Big Data Lanscape 里面正好也有介绍到 NewSQL，在 Wikipedia 里面的描述是
        “NewSQL is a class of modern relational database management systems that seek to provide the same scalable performance of NoSQL systems for online transaction processing (OLTP) read-write workloads while still maintaining the ACID guarantees of a traditional database system”，
        也比较切合当时的产品理念，就是 Old SQL + NoSQL，让传统的 MySQL 具有 Scale 的能力。
        当然在这个基础上我们给 MySQL 增加了很多其他的东西，比如 Online DDL，Raft Replication，Auto Failover 等等，特别是随着我们分布式 SQL Engine 和 SQL Optimizer 的发展，使得这种分布式数据库在大数据的复杂查询场景里面也可以很方便地帮助用户解决很多分析问题，也就是在 NewSQL 基础上，又增加了 OLAP 的能力。
        为了让 TiDB 具有更好的辨识度，我们采用了 Distributed Hybrid Transactional/Analytical Processing (HTAP) Database 的说法，也更贴切和生动！
        在整个开源领域，其实可以看到，HTAP 数据库一直没有一个事实标准，这应该是整个基础软件领域缺失的最后一块版图，早晚会有一到两家(MySQL 阵营肯定有一家，PostgreSQL 阵营也有可能一家)，目前来看，TiDB (OLTP + OLAP + Scale)看的更远，走的也更远，当然也更有希望是最独特的这一个。</p>
</div>
