<div class="timeline-wrapper">
    <!--first section-->
    <div class="row align-items-center how-it-works">
        <div class="col-2 f-tc bottom">
            <div class="circle">1</div>
        </div>
        <div class="col-10">
            <h3>Step 1: 申请职位</h3>
            <ul class="f-tf">
                <li><a href="#positions">选择适合的职位</a></li>
                <li>投递简历到 <a href="mailto:hire@pingcap.com">hire@pingcap.com</a></li>
            </ul>
        </div>
    </div>
    <!--path between 1-2-->
    <div class="row timeline">
        <div class="col-2">
            <div class="corner top-right"></div>
        </div>
        <div class="col-8">
            <span class="line"></span>
        </div>
        <div class="col-2">
            <div class="corner left-bottom"></div>
        </div>
    </div>
    <!--second section-->
    <div class="row align-items-center justify-content-end how-it-works">
        <div class="col-10 f-tr">
            <h3>Step 2: 进行面试</h3>
            <ul class="f-tf">
                <li>电话初探：这一环节与你电话交谈的主要是 HR 小伙伴，电话交谈将持续 20-30 分钟，主要对你的基本情况进行简单的了解，如果你申请的是技术类职位，HR 小伙伴可能也会问你一些技术问题哦，毕竟，我们有一个写过代码的 HR；</li>
                <li>以题会友：根据电话沟通的情况，业务的小伙伴会为你量身打造 1-2 道实践题，通过这样一种别开生面的方面进行业务交流，是不是很酷？我们不会设置实践题的 Deadline，一切时间由你来掌控。实践题完成后 1-2 个工作日会有 Feedback；</li>
                <li>全面沟通：在这一环节你将经历 2-4 轮的业务面试和 1 轮的 Founder 面，每一轮面试将持续 30-60 分钟；沟通方式有电话、视频、Face to Face…...</li>
            </ul>
        </div>
        <div class="col-2 f-tc full">
            <div class="circle">2</div>
        </div>
    </div>
    <!--path between 2-3-->
    <div class="row timeline">
        <div class="col-2">
            <div class="corner right-bottom"></div>
        </div>
        <div class="col-8">
            <span class="line"></span>
        </div>
        <div class="col-2">
            <div class="corner top-left"></div>
        </div>
    </div>
    <!--third section-->
    <div class="row align-items-center how-it-works">
        <div class="col-2 f-tc top">
            <div class="circle">3</div>
        </div>
        <div class="col-10">
            <h3>Step 3: 雇佣决定</h3>
            <p class="f-tf">如果前面两步进展顺利，恭喜你，已经取得了阶段性的胜利，接下来 HR 小伙伴会跟你聊聊 Offer 那点事，如果双方达成一致，电子版的 Offer 不久就会躺在你的个人邮箱了，准备加入 PingCAP 的大家庭吧！</p>
        </div>
    </div>
</div>
