<div class="terminal-wrapper">
    <div class="terminal-section">
        <div class="terminal-header">
            <div class="terminal-controls">
                <span class="elem elem-close"></span>
                <span class="elem elem-minimize"></span>
                <span class="elem elem-fullscreen"></span>
            </div>
        </div>
        <div class="terminal-body">
            <div class="terminal-line">
                <span class="sim" id="typedSelect"></span>
            </div>
            <div class="table-content hide">
<pre>
+---------+---------------------------------------------------------------+
| date    | event                                                         |
+---------+---------------------------------------------------------------+
| 2015.4  | Seed Round From Matrix China / K2VC                           |
| 2015.5  | First line of code for TiDB                                   |
| 2015.9  | TiDB Open Source in GitHub, like Google F1                    |
| 2016.4  | TiKV Open Source, like Google Spanner                         |
| 2016.8  | A Round From YunQi / Matrix China / FreeS / ChuXin            |
| 2017.6  | $15M B Round From CGC / Matrix China / YunQi / FreeS /  K2VC  |
| 2017.10 | TiDB 1.0 Release, TiDB + TiKV 13000+ Stars, 200+ Contributors |
| 2017.11 | PingCAP Plants its Seed in Silicon Valley                     |
| 2018.4  | TiDB 2.0 Release, TiDB + TiKV 16000+ Stars, 240+ Contributors |
+---------+---------------------------------------------------------------+
</pre>
                <span>9 rows in set (0.00 sec)</span>      
            </div>
        </div>
    </div>
</div>
